<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Crear Comisiones</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
        <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
        <div class="col-md-9">
<!--<div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>-->
<div class="row">
          
    <div class="col-md-9">
    <div class="row text-center">
        <br><br>
                        <img src="../../static/image/roles.png" width="150" th:src="@{/image/roles.png}"/>
    </div><br>
        <!--<h3 align="center">Crear Comision</h3>-->
        <div>
            <form class="form-horizontal" th:object="${comision}" th:action="@{../comision}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre Comision:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" size="50" maxlength="50" required="true" th:field="*{nombrecomision}"/>
                    </div>
                </div>
                <div class="form-group">
                                <label class="col-sm-2 control-label">Numero de acuerdo comision:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{numeroacuerdocomision}"/>
                                </div>
                            </div>
               <div class="form-group">
                    <label class="col-sm-2 control-label">acuerdo:</label>
                    <div class="col-sm-10">
                        <input type="file" name="file" />
                               <!--class="" required="true" th:field="*{docaprovacion}"-->
                               
                    </div>
                </div>
                <div class="row" align="center">
                     <a href="#" th:href="@{/comisiones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                    <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                </div>
<!--                <div class="row">
                    <button type="submit" class="btn btn-default">Agregar</button>
                </div>-->
            </form>
        </div>
    </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        $('#fechadesdecomision').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('#fechahastacomision').datepicker({
            dateFormat: 'yy-mm-dd'
        });
       
    });
</script>

</body>
<script th:inline="javascript">
    Textheader('pnt_gecoms',document.title);
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../comisiones/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
</html>
