<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!--     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
     <style type="text/css">
     .boton{
  width:30px;
  height:30px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
 </style>
     
    <title>Crear contrato</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<!--    <div class="contenedorizq"><label  >pnt_ce11</label>  
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->
<script> Textheader('pnt_ce11',document.title);</script>
<!--<div class="container">-->
 <div class="row">
 <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/contrato.jpg}"/>
            </div>
    <h3 align="center"> </h3>
    

    
        <br>
        <form class="form-horizontal" id="formempleado" th:object="${empleado}" >
            
            <div class="col-md-12" style="background-color:#d9edf7;">
                <div class="panel-info">
                    <div class="panel-heading row text-center">
                        <h3>Gestionando información del empleado:  <label id="nomemp" class=" control-label" th:text="${empleado.nombreempleado} +' ' +${empleado.apellidoempleado}"></label> </h3>
                    </div>
                </div>
                 <input type="hidden" id="codem"  th:value="${empleado.codigoempleado}"/>
            </div>
            </form>
  <form class="form-horizontal"  id="formcontrato" th:object="${contrato}" th:action="@{../contrato}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{codigocontrato}"/>
                <input type="hidden" id="codemc" th:field="*{codigoempleado}"/>
            <div class="col-md-12"  >
                <div class="form-group">
                        <label class="col-sm-3 control-label">Puesto del empleado:</label>
                        <div class="col-sm-5" >
                            <select class="form-control"  th:field="*{codigopuesto}"  width="50" id="idpuesto" name="select" >
                                  <option value="">--seleccione el puesto para el empleado--</option>
                                <option th:each="c:${puestos}" th:value="${c.codigopuesto}" th:text="${c.nombrepuesto}"></option>
                            </select>
                        </div>
                          <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup1')" onmouseout ="javascript:ocultarAyuda('poppup1')">a</a></b>
                        
                        <span class="popuptext" id="poppup1">Seleccione el Puesto del Empleado.!</span>
                    </div>
                    </div>
                 <div class="form-group">
                     <br>
                    <label class="col-sm-3 control-label">Salario actual $(*):</label>
                    <div class="col-sm-2"  id ="refresh-after-contrato">
                        <input type="text" id="salario" class="form-control"  required="true" maxlength="9"  th:field="*{salarioactual}"  />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                        
                        <span class="popuptext" id="poppup3">Campo en el que se muestra el salario actual del empleado. campo no editable, valor extraido del puesto asignado al empleado</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Unidad presupuestaria(*):</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" required="true" size="100" maxlength="100"  th:field="*{unidadprecide}"   />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup7')" onmouseout ="javascript:ocultarAyuda('poppup7')">a</a></b>
                        
                        <span class="popuptext" id="poppup7">Ingrese el la unidad presupuestaria. Se adminte hasta 100 caracteres!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Sistema de pago(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"  id="sispago" required="true" size="50" maxlength="50" th:field="*{sistemapago}"   />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('sispago1')" onmouseout ="javascript:ocultarAyuda('sispago1')">a</a></b>
                        
                        <span class="popuptext" id="sispago1">Campo en el que se muestra el sistema de pago del empleado. campo no editable, valor extraido del puesto asignado al empleado!</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Linea de trabajo(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"  id="linea" required="true" size="100" maxlength="100" th:field="*{lineatrabajo}"   />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup25')" onmouseout ="javascript:ocultarAyuda('poppup25')">a</a></b>
                        
                        <span class="popuptext" id="poppup25">Campo en el que se muestra el la linea de trabajo del empleado. campo no editable, valor extraido del puesto asignado al empleado</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Numero de partida(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"  required="true" size="9" maxlength="9"  th:field="*{partidacontrato}"   />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup2')" onmouseout ="javascript:ocultarAyuda('poppup2')">a</a></b>
                        
                        <span class="popuptext" id="poppup2">Ingrese el numero de partida del empleado solo se admitiran 9 caracteres.!</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Numero de subpartida(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control"    required="true" size="9" maxlength="9" th:field="*{subpartidacontrato}"  />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup22')" onmouseout ="javascript:ocultarAyuda('poppup22')">a</a></b>
                        
                        <span class="popuptext" id="poppup22">Ingrese el numero de subpartida del empleado solo se admitiran 9 caracteres.!</span>
                    </div>
                </div>
                
                
<!--                
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Acuerdo o Nombramiento(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"       />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup31')" onmouseout ="javascript:ocultarAyuda('poppup31')">a</a></b>
                        
                        <span class="popuptext" id="poppup31">Ingrese el acuerdo o nombramiento del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                </div>-->
                    <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de inicio de contrato(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" placeholder="dia/mes/año"type="text"  name="fechaicontrato" id="fechaicontrato" th:field="*{fechainiciocontrato}" onchange="isDat(this.value,'fechaicontrato');Fechas(this.value,$('#fechafcontrato').val().toString(),'fechaicontrato','fechafcontrato')"/>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup21')" onmouseout ="javascript:ocultarAyuda('poppup21')">a</a></b>
                        
                        <span class="popuptext" id="poppup21">Campo en el que se muestra la fecha de ingreso al ministerio . campo no editable, valor extraido de la informacion del empleado!</span>
                    </div>
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de fin de contrato(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" placeholder="dia/mes/año" type="text"  name="fechafcontrato" id="fechafcontrato" th:field="*{fechafincontrato}" onchange="isDat(this.value,'fechafcontrato');Fechas($('#fechaicontrato').val().toString(),this.value,'fechaicontrato','fechafcontrato')"/>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup20')" onmouseout ="javascript:ocultarAyuda('poppup20')">a</a></b>
                        
                        <span class="popuptext" id="poppup20">Seleccione o digite la fecha de finalizacion del contrato del empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                
                   <div class="form-group">
                        <label class="col-sm-3 control-label">Cambio de plaza:</label>
                        <div class="col-sm-2" >
                              <!--<input type="text" class="form-control "  maxlength="4" required="true" placeholder=""  th:field="*{mescapacitacion}"/>-->
                            <ul>
                              
                                    <input id="cambioplaza" name="cambioplaza"    type="checkbox"  th:field="*{cambioplaza}" value="1" />
                                    
                                    
                            </ul>  
                        </div>
                        <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('mes')" onmouseout ="javascript:ocultarAyuda('mes')">a</a></b>
                        
                        <span class="popuptext" id="mes">Marque la cajita si es cambio de plaza.!</span>
                    </div>
                    </div>
              <div class="form-group">
                            <label class="col-sm-3 control-label">Plaza nominal(*):</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control " id="nominal" required="true" maxlength="50" minlength="1" th:field="*{plazanominal}"/>
                            </div>
                             <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('plzaza')" onmouseout ="javascript:ocultarAyuda('plzaza')">a</a></b>

                                <span class="popuptext" id="plzaza">Ingrese la plaza nominal</span>
                            </div>
                        </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Subir acuerdo:</label>
                    <div class="col-sm-6">
                        <input id="file" type="file" name="file" accept="application/pdf" />
                               <!--class="" required="true" th:field="*{docaprovacion}"-->
                               
                    </div>
                    
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup26')" onmouseout ="javascript:ocultarAyuda('poppup26')">a</a></b>
                        
                        <span class="popuptext" id="poppup26">selecione el archivo PDF del contrato  obtenido por el Empleado hacer click en el boton selecionar archivo.!</span>
                    </div>
                </div>
<!--                <div class="form-group">
                    <label class="col-sm-3 control-label">Cambio de Plaza(*):</label>
                    <div class="col-sm-5" align="left" th:field="*{plazanominal}">
                        <input type="checkbox"     />
                    </div>
                </div>-->
          </div>
           <div class="col-md-12">
            <div class="row" align="center">
<!--                <button type="button" class="btn btn-default"><a href="#" th:href="@{/empleados/}">Regresar</a></button>
                <button type="submit" class="btn btn-default" >Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar</button>-->
  <a href="#" th:href="@{/empleados/show/}+${empleado.codigoempleado}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
 <!--<button type="submit"  onclick="searchpuesto( document.getElementById('idpuesto') ,'1');"  class="btn btn-warning" id="btn"><span class="glyphicon glyphicon-floppy-disk"></span>test</button>-->

<button type="submit"  onclick="fecha_format();"  class="btn btn-success" id="btnGuardar"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
<button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>

            </div>
    </div>
                </form>
        
      
  

               </div>
            </div>

   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>

        
       
</body>
<script type="text/javascript">
//    $(document).ready(function() {
//        var refrescarid = setInterval(function() {
//            $("#div1").load("url que quieres cargar")
//            .error(function() { alert("Error"); });
//        }, 1000); // Tiempo
//        $.ajaxSetup({ cache: false });              
//    });
</script>
    <script type="text/javascript"  th:src="@{/js/script.js}"></script>
    
	<script  type="text/javascript">
             
 var x = document.getElementsByClassName("num_decimal3");
  var i;
  for (i = 0; i < x.length; i++) {
//    x[i].style.backgroundColor = "red";
//     x[i].value = (x[i].value).toFixed(2);
    var id=x[i].id;
//    alert("value="+x[i].value+" id="+x[i].id);
    var monto=document.getElementById(id).value;
//    var output = (monto).toFixed(2);
    var output =Number.parseFloat(monto).toFixed(2);
    document.getElementById(id).value=output
//    alert("monto="+output);
    }

           
             function Fechas(val1,val2,val3,val4){
                 
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
 
		
		$(document).ready(function () {
                    
                    $('#idpuesto').change(function () {
                          var txtVal = jQuery('#idpuesto').val();
                          var idemp =(jQuery('#codem').val()=="")?0:jQuery('#codem').val();
                           var lca = "new"
                           var URLactual = window.location.href;
                            if (URLactual.includes("edit")){
                                lca='../../contrato/searchpuesto/' + txtVal + '/' + idemp;
                            }
                            else{
                                lca='../contrato/searchpuesto/' + txtVal + '/' + idemp;
                            }
                           
                    $.ajax({
                        url: lca,//'../contrato/searchpuesto/' + txtVal + '/' + idemp,
                        success: function (data) {
//                            var idpuesto ='[[${idpuesto}]]' ;
                            var salario="";
                            var sispago="";
                            var linea="";
                            var fechaincontrato="";
                            var nominal="";
//                            alert("data.length"+data.length+" ");
                             for (var i=0; i<data.length;i++){
                                  salario =data[1];
                                  sispago =data[2];
                                  linea =data[5];
                                  fechaincontrato =data[3];
                                  nominal =data[4];
//                                  alert("variable["+i+"]="+salario);
                             }
                             var output = (salario).toFixed(2);
                            $('#salario').val(output);
                            $('#sispago').val(sispago);
                            $('#linea').val(linea);
                            $('#nominal').val(nominal);
                        },
                        error: function () {
                           $('#salario').val("");
                            $('#sispago').val("");
                            $('#linea').val("");
                            $('#nominal').val("");
                        }
                    });
                });
                    
                     document.getElementById("salario").readOnly = true;
                        document.getElementById("sispago").readOnly = true;
                        document.getElementById("linea").readOnly = true;
                    if (URLactual.includes("new")){
                        
    //                    document.getElementById("fechaicontrato").readOnly = true;
    //                    $('#salario').prop('disabled', 'disabled');
    //                    $('#sispago').prop('disabled', 'disabled');
    //                    $('#linea').prop('disabled', 'disabled');
    //                    $('#fechaicontrato').prop('disabled', 'disabled');
                        var idpuesto ='[[${idpuesto}]]' ;
                        var salario ='[[${salario}]]' ;
                        var sispago ='[[${sispago}]]' ;
                        var linea ='[[${linea}]]' ;
    //                    var fechaincontrato ='[[${#calendars.format(fechainicio, "dd/MM/yyyy")}]]' ;
                        $('#salario').val(salario);
                        $('#sispago').val(sispago);
                        $('#linea').val(linea);
    //                    $('#fechaicontrato').val(fechaincontrato);
                        $('#idpuesto').val(idpuesto);
                    }
                   
                     
		    var date = new Date();
		    var currentMonth = date.getMonth();
		    var currentDate = date.getDate();
		    var currentYear = date.getFullYear();
                    
		    $('#fechaicontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		       dateFormat: 'dd/mm/yy'
		    });
		    
		    $('#fechafcontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechasepr').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechamin').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechanacde').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechahfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechadfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechacapreevento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('fechadexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechahexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechadubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechaicontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechafcontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
		});
                 $('#btnGuardar').click(function(){
//                      $("#loader").addClass("loader");
                    var flag =validate_value_field();
                            if(flag==false){
                                $("#formcontrato").attr('action', '../contrato/'+ $("#codem").val().toString());
                                $("form#formcontrato").submit();
                            }
                });
                
      
                
                var URLactual = window.location.href;
                if (URLactual.includes("edit")){
                     var txtVal = jQuery('#idpuesto').val();
                          var idemp =(jQuery('#codem').val()=="")?0:jQuery('#codem').val();
                           var lca = "new"
                           var URLactual = window.location.href;
                            if (URLactual.includes("edit")){
                                lca='../../contrato/searchpuesto/' + txtVal + '/' + idemp;
                            }
                            else{
                                lca='../contrato/searchpuesto/' + txtVal + '/' + idemp;
                            }
                           
                    $.ajax({
                        url: lca,//'../contrato/searchpuesto/' + txtVal + '/' + idemp,
                        success: function (data) {
//                            var idpuesto ='[[${idpuesto}]]' ;
                            var salario="";
                            var sispago="";
                            var linea="";
                            var fechaincontrato="";
                            var nominal="";
//                            alert("data.length"+data.length+" ");
                             for (var i=0; i<data.length;i++){
                                  salario =data[1];
                                  sispago =data[2];
                                  linea =data[5];
                                  fechaincontrato =data[3];
                                  nominal =data[4];
//                                  alert("variable["+i+"]="+salario);
                             }
                             var output = (salario).toFixed(2);
                            $('#salario').val(output);
                            $('#sispago').val(sispago);
                            $('#linea').val(linea);
                            $('#nominal').val(nominal);
                        },
                        error: function () {
                           $('#salario').val("");
                            $('#sispago').val("");
                            $('#linea').val("");
                            $('#nominal').val("");
                        }
                    });
//                    alert("str");
                }
                else{
//                    alert("str1");
var str =URLactual.substring(URLactual.indexOf("new")+4,URLactual.length);
//alert(str);
$(function () {
          document.getElementById("codem").value = str;
           document.getElementById("codemc").value = str;
      });}
	</script>
          
	
        <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
         $("#loader").addClass("loader");
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../empleados/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
<!--        <script>       
            var URLactual = window.location.href;
                if (URLactual.includes("edit")){
//                    alert("str");
                }
                else{
//                    alert("str1");
var str =URLactual.substring(URLactual.indexOf("new")+4,URLactual.length);
//alert(str);
$(function () {
          document.getElementById("codem").value = str;
      });}
	</script>-->
        
        
</html>
