<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!--     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
      <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
     <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <style type="text/css">
     .boton{
  width:30px;
  height:30px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
 </style>
     
    <title>SISADMRH-Crear Experiencia Laboral</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<!--    <div class="contenedorizq"><label  >pnt_cem6</label>  
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->

<script> Textheader('pnt_cem6',document.title);</script>
<!--<div class="container">-->
 <div class="row">
 <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/experiencia.jpg}"/>
            </div>
    <h3 align="center">  </h3>
    

    
        <br>
<form class="form-horizontal" id="formex" th:object="${experiencialaboral}" th:action="@{../experiencialaboral}" method="post">
                <input type="hidden" th:field="*{codigoexperiencialaboral}"/>
                <input type="hidden" id="codem"  />
            <div class="col-md-12" >
                 <div class="form-group">
                <label class="col-sm-3 control-label">Sector(*):</label>
                <div class="col-sm-2">
                    <select class="form-control" name="sectorexperiencialaboral" >
                        <!--th:field="*{sectorexperiencialaboral}">-->
                        <option>Privado</option>
                        <option>Publico</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup14')" onmouseout ="javascript:ocultarAyuda('poppup14')">a</a></b>
                        
                        <span class="popuptext" id="poppup14">Seleccione el sector de la ultima experiencia laboral del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Nombre de Institucion(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"  required="true" size="50" maxlength="50"  th:field="*{nombreinstitucion}"  />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup13')" onmouseout ="javascript:ocultarAyuda('poppup13')">a</a></b>
                        
                        <span class="popuptext" id="poppup13">Ingrese el nombre de la institucion de la ultima experiencia laboral del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cargo(*):</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control"  required="true" size="200" maxlength="200" th:field="*{cargo}"   />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup25')" onmouseout ="javascript:ocultarAyuda('poppup25')">a</a></b>
                        
                        <span class="popuptext" id="poppup25">Ingrese el cargo del Empleado solo se admitiran 50 caracteres .!</span>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Fecha Desde(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" placeholder="dia/mes/año" type="text"  name="fechadexlaborald" id="fechadexlaborald"  th:field="*{fechadesdeexperiencialaboral}" onchange="isDat(this.value,'fechasepu');Fechas(this.value,$('#fechahexlaboralh').val().toString(),'fechadexlaborald','fechahexlaboralh')"/>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup21')" onmouseout ="javascript:ocultarAyuda('poppup21')">a</a></b>
                        
                        <span class="popuptext" id="poppup21">Seleccione o digite la Fecha inicial de la ultima experiencia laboral del Empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Fecha Hasta(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" placeholder="dia/mes/año" type="text"  name="fechahexlaboralh" id="fechahexlaboralh"  th:field="*{fechahastaexperiencialaboral}" onchange="isDat(this.value,'fechahexlaboralh');Fechas($('#fechadexlaborald').val().toString(),this.value,'fechadexlaborald','fechahexlaboralh')"/>
                </div>
                 <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup20')" onmouseout ="javascript:ocultarAyuda('poppup20')">a</a></b>
                        
                        <span class="popuptext" id="poppup20">Seleccione o digite la Fecha final de la ultima experiencia laboral del Empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Salario Inicial(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control num_decimal"  required="true" maxlength="9"    th:field="*{salarioinicial}" />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup7')" onmouseout ="javascript:ocultarAyuda('poppup7')">a</a></b>
                        
                        <span class="popuptext" id="poppup7">Ingrese el salario inicial del Empleado solo se admitiran dos decimales caracteres numericos.!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Salario Final(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control num_decimal"  required="true" maxlength="9"     th:field="*{salariofinal}" />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                        
                        <span class="popuptext" id="poppup3">Ingrese el salario final del Empleado solo se admitiran dos decimales caracteres numericos.!</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">Causa del Retiro(*):</label>
                    <div class="col-sm-8">
                        <!--<input type="text" class="form-control" required="true" size="200" maxlength="200"   th:field="*{motivoretiro}"  />-->
                    	<textarea rows="4" cols="50" class="form-control" size="200" maxlength="200"  required="true" th:field="*{motivoretiro}">

                            </textarea>
                        
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup2')" onmouseout ="javascript:ocultarAyuda('poppup2')">a</a></b>
                        
                        <span class="popuptext" id="poppup2">Ingrese la causa de retiro del Empleado solo se admitiran 200 caracteres.!</span>
                    </div>
                </div>
          </div>
           <div class="col-md-12">
            <div class="row" align="center">
<!--                <button type="button" class="btn btn-default"><a href="#" th:href="@{/empleado/}">Regresar</a></button>
                <button type="submit" class="btn btn-default" id="btnGuardar">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar</button>-->
 <a href="#" th:href="@{/empleados/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
<button type="submit" class="btn btn-success" id="btnGuardar"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
<button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>

            </div>
    </div>
                </form>
        
      
  

               </div>
            </div>

   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>

        
       
</body>
<script src="../static/css/hydro/js/jquery.js"></script>
	        
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
             function Fechas(val1,val2,val3,val4){
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
// 		$(document).ready(function() {
// 			$(function () {
// 				$("#datepickersince").datepicker();
// 			});

// 			$(function () {
// 				$("#datepickeruntil").datepicker();
// 			});
// 		});
		$(document).ready(function () {
		    var date = new Date();
		    var currentMonth = date.getMonth();
		    var currentDate = date.getDate();
		    var currentYear = date.getFullYear();
                    
		    $('#fechadexlaborald').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		       dateFormat: 'dd/mm/yy'
		    });
		    
		    $('#fechahexlaboralh').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechasepr').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechamin').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechanacde').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechahfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechadfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechacapreevento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    
                    $('fechahexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechadubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechaicontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechafcontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
		});
	 $('#btnGuardar').click(function(){
            $("#formex").attr('action', '../experiencialaboral/'+ $("#codem").val().toString());
            $("form#formex").submit();
            
        });
		
	</script>
           <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                 location.href = '../../empleados/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
        <script>       
            var URLactual = window.location.href;
                if (URLactual.includes("edit")){
//                    alert("str");
                }
                else{
//                    alert("str1");
var str =URLactual.substring(URLactual.indexOf("new")+4,URLactual.length);
//alert(str);
$(function () {
          document.getElementById("codem").value = str;
      });}
	</script> 
        
</html>
