<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
        <style type="text/css">
            .boton{
                width:30px;
                height:30px;
                background-color:#03800b;
                margin: 5px;
                padding:10px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                font-size:11px;
                line-height:32px;
                text-transform: uppercase;
                float:left;
            }
            .boton:hover{
                opacity: 0.50;
                -moz-opacity: .50;
                filter:alpha (opacity=50);
            }
            .boton a{
                color:#fff;
                text-decoration:none;
                padding:5px 5px 5px 0;
            }
        </style>
        <title>SISADMRH-Crear Puesto de Trabajo</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <script> Textheader('pnt_cpto', document.title);</script>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8"> <br><br>
            <div class="row text-center">
                <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/puestos.png}"/>
            </div> 
            <h3 align="center">   </h3>
            <form class="form-horizontal" th:object="${puesto}" th:action="@{../puesto}" method="post">
                <input type="hidden" th:field="*{codigopuesto}"/>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre de Puesto(*):</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" th:field="*{nombrepuesto}" required="true"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup2')" onmouseout ="javascript:ocultarAyuda('poppup2')">a</a></b>
                            <span class="popuptext" id="poppup2">Ingrese el Nombre  del Puesto de Trabajo solo se admitiran 50 caracteres.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Categoria del Puesto(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="categoriapuesto" th:field="*{categoriapuesto}">
                                <option value="">--seleccione categoria del puesto--</option>
                                <option value="Categoria 1">Categoria 1</option>
                                <option value="Categoria 2">Categoria 2</option>
                                <option value="Categoria 3">Categoria 3</option>
                            </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup6')" onmouseout ="javascript:ocultarAyuda('poppup6')">a</a></b>
                            <span class="popuptext" id="poppup6">Seleccione la categoría del Puesto de Trabajo desplegando la lista.!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sueldo Base $(*):</label>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control num_decimal3 " required="true" maxlength="10" th:field="*{sueldobase}"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                            <span class="popuptext" id="poppup3">Ingrese el salario base del Puesto de Trabajo solo se admitiran dos decimales.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Numero de partida(*):</label>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control" required="true" maxlength="10" th:field="*{numeropartidapuesto}"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                            <span class="popuptext" id="poppup3">Ingrese el numero de partida</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Numero de Sub partida(*):</label>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control" required="true" maxlength="10" th:field="*{numerosubpartidapuesto}"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                            <span class="popuptext" id="poppup3">Ingrese el numero de subpartida del Puesto de Trabajo solo se admitiran dos decimales.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ubicacion Geografica(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="ubicacionpuesto" th:field="*{ubicacionpuesto}" >
                                <option value="">--seleccione la ubicacion geografica del puesto--</option>
                                <option value="Capacitacion de Personal">Capacitacion de Personal</option>
                                <option value="Coordinacion Tecnica">Coordinacion Tecnica</option>
                            </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup7')" onmouseout ="javascript:ocultarAyuda('poppup7')">a</a></b>
                            <span class="popuptext" id="poppup7">Seleccione la ubicacion geografica del Puesto de Trabajo desplegando la lista.</span>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="col-sm-3 control-label">Código de Cargo(*):</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control numeros" th:field="*{codigocargopuesto}" required="true"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup8')" onmouseout ="javascript:ocultarAyuda('poppup8')">a</a></b>
                            <span class="popuptext" id="poppup8">Ingrese el Código de  cargo del puesto de trabajo, solo se permiten digitos del "0 al 9".</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Forma de Pago(*):</label>
                        <div class="col-sm-3">
                            <select class="form-control" name="formapago" th:field="*{formapago}">
                                <option value="">--seleccione la forma de pago--</option>
                                <option value="Cada 15 dias">Cada 15 dias</option>
                                <option value="Cada 30 dias">Cada 30 dias</option>
                            </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup9')" onmouseout ="javascript:ocultarAyuda('poppup9')">a</a></b>
                            <span class="popuptext" id="poppup9">Seleccione la forma de pago  del Puesto de Trabajo desplegando la lista.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de Aprobación(*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format" required="true" type="text"  placeholder="dia/mes/año" th:field="*{fechaaprobacion}" name="fechaaprobacion" id="fechaaprobacion" onchange="isDat(this.value, 'fechaaprobacion')" />
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup44')" onmouseout ="javascript:ocultarAyuda('poppup44')">a</a></b>
                            <span class="popuptext" id="poppup44">Ingrese la fecha de aprobación del puesto de trabajo</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de inicio de contratación (*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format " required="true" placeholder="dia/mes/año" type="text" th:field="*{fechacontrataciondesde}" name="fechacontrataciondesde" id="fechacontrataciondesde"  onchange="isDat(this.value, 'fechacontrataciondesde'); Fechas(this.value, $('#fechacontratacionhasta').val().toString(), 'fechacontrataciondesde', 'fechacontratacionhasta'); Fechas($('#fechacreacion').val().toString(), this.value, 'fechacreacion', 'fechacontrataciondesde')"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup41')" onmouseout ="javascript:ocultarAyuda('poppup41')">a</a></b>
                            <span class="popuptext" id="poppup41">Seleccione o digite la Fecha de contratación del puesto de trabajo .</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de fin de contratación (*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format " required="true" placeholder="dia/mes/año" type="text" th:field="*{fechacontratacionhasta}" name="fechacontratacionhasta" id="fechacontratacionhasta" onchange="isDat(this.value, 'fechacontratacionhasta'); Fechas($('#fechacontrataciondesde').val().toString(), this.value, 'fechacontrataciondesde', 'fechacontratacionhasta')"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup42')" onmouseout ="javascript:ocultarAyuda('poppup42')">a</a></b>
                         <span class="popuptext" id="poppup42">Ingrese  la fecha fin de contratación  del puesto de trabajo </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de creación(*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format " required="true" placeholder="dia/mes/año" type="text" th:field="*{fechacreacion}" name="fechacreacion" id="fechacreacion"  onchange="isDat(this.value, 'fechacreacion'); Fechas(this.value, $('#fechabaja').val().toString(), 'fechacreacion', 'fechabaja'); Fechas(this.value, $('#fechacontrataciondesde').val().toString(), 'fechacreacion', 'fechacontrataciondesde'); Fechas(this.value, $('#fechamodificacion').val().toString(), 'fechacreacion', 'fechamodificacion')"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup43')" onmouseout ="javascript:ocultarAyuda('poppup43')">a</a></b>
                            <span class="popuptext" id="poppup43">Seleccione o digite la fecha de creación  del Puesto de trabajo.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de Baja(*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format " required="true" placeholder="dia/mes/año" type="text" th:field="*{fechabaja}" name="fechabaja" id="fechabaja"  onchange="isDat(this.value, 'fechabaja'); Fechas($('#fechacreacion').val().toString(), this.value, 'fechacreacion', 'fechabaja')"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup44')" onmouseout ="javascript:ocultarAyuda('poppup44')">a</a></b>

                            <span class="popuptext" id="poppup44">Ingrese la fecha de baja del puesto de trabajo.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de modificación(*):</label>
                        <div class="col-sm-2">
                            <input class="form-control fecha_format " required="true" placeholder="dia/mes/año" type="text" th:field="*{fechamodificacion}" name="fechamodificacion" id="fechamodificacion" onchange="isDat(this.value, 'fechamodificacion'); Fechas($('#fechacreacion').val().toString(), this.value, 'fechacreacion', 'fechamodificacion')"/>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup45')" onmouseout ="javascript:ocultarAyuda('poppup45')">a</a></b>
                            <span class="popuptext" id="poppup45">Ingrese la fecha de modificación  del Puesto de Trabajo el formato debe ser  dia/mes/año .</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nivel del puesto(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="nivelpuesto" th:field="*{nivelpuesto}">
                                <option value="">--seleccione el nivel del puesto--</option>
                                <option value="Gerencial">Gerencial</option>
                                <option value="Estrategico">Estrategico</option>
                                <option value="Operativo">Operativo</option>
                             </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup5')" onmouseout ="javascript:ocultarAyuda('poppup5')">a</a></b>
                            <span class="popuptext" id="poppup5">Seleccione el nivel del Puesto de Trabajo desplegando la lista.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sublinea del Puesto(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="sublinea" th:field="*{sublinea}">
                                <option value="">--seleccione la sublinea del puesto--</option>
                                <option value="Sublinea 1">Sublinea 1</option>
                                <option value="Sublinea 2">Sublinea 2</option>
                                <option value="Sublinea 3">Sublinea 3</option>
                            </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup66')" onmouseout ="javascript:ocultarAyuda('poppup66')">a</a></b>
                            <span class="popuptext" id="poppup66">Seleccione la sublinea del Puesto de Trabajo desplegando la lista.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tipo de Fianza(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="tipofinanza" th:field="*{tipofinanza}">
                                <option value="">--seleccioneel tipo de fianza del puesto--</option>
                                <option value="Fianza 1">Fianza 1</option>
                                <option value="Fianza 2">Fianza 2</option>
                                <option value="Fianza 3">Fianza 3</option>
                            </select>
                        </div>
                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup67')" onmouseout ="javascript:ocultarAyuda('poppup67')">a</a></b>
                            <span class="popuptext" id="poppup67">Seleccione el tipo de fianza del Puesto de Trabajo desplegando la lista.</span>
                        </div>
                    </div>
                    <div class="form-group">
<!--                        <label class="col-sm-3 control-label">Estado de Puesto de Trabajo(*):</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="estadopuesto" th:field="*{estadopuesto}" >
                                <option value="7">--seleccione el estado del puesto--</option>
                                <option value="1">Activo</option>
                                <option value="2">Plaza Ocupada</option>
                                <option value="">De Baja</option>
                            </select>
                        </div>-->
<!--                        <div class="popup "><b>
                                <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup263')" onmouseout ="javascript:ocultarAyuda('poppup263')">a</a></b>
                        <span class="popuptext" id="poppup263">Seleccione el estado del puesto desplegando la lista.</span>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" align="center">
                        <a href="#" th:href="@{/puestos/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                        <button type="submit" onclick="fecha_format();" id ="guardar" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                        <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <th:block th:include="../templates/footer"></th:block>
    </div>     
</body>
<script src="../static/css/hydro/js/jquery.js"></script>
<script>
                        function Fechas(val1, val2, val3, val4){
                        var foo = ValidarFecha(val1, val2, val3, val4).split(","); ;
                        if (foo[0] != foo[2]){
                        swal(foo[1], foo[0]);
                        }
                        }
                        function isDat(val, id){
                        var foo = ExisteFecha(val, id).split(","); ;
                        if (foo[0] != foo[2]){
                        swal(foo[1], foo[0]);
                        }
                        }
                        $(document).ready(function () {
//                        $('#guardar').click(function(){
//                        $("#loader").addClass("loader");
//                        });
 $('#guardar').click(function(){
		validate_value_field();
	});
                        var date = new Date();
                        var currentMonth = date.getMonth();
                        var currentDate = date.getDate();
                        var currentYear = date.getFullYear();
                        $('#fechaaprobacion').datepicker({
                        dateFormat: 'dd/mm/yy'
                        });
                        $('#fechacontrataciondesde').datepicker({
                         dateFormat: 'dd/mm/yy'
                        });
                        $('#fechacontratacionhasta').datepicker({
                        dateFormat: 'dd/mm/yy'
                        });
                        $('#fechacreacion').datepicker({
                        dateFormat: 'dd/mm/yy'
                        });
                        $('#fechabaja').datepicker({
                        dateFormat: 'dd/mm/yy'
                        });
                        $('#fechamodificacion').datepicker({
                        dateFormat: 'dd/mm/yy'
                        });
                        });
</script>

<script th:inline="javascript">
    $(document).ready(function () {
    if ([[${msg}]] === 0){
    $("#loader").addClass("loader");
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../puestos/';
    });
    }

    if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }

    if ([[${msg}]] === 5){
    swal({
    title: "ERROR!",
            text: "el puesto no se puede eliminar porque aun contiene empleados activos",
            type: "error",
            icon: "error"
    });
    }
    });
</script> 
</html>
