<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Crear Inasistencias</title>
    <th:block th:include="../templates/header"></th:block>
    
</head>
<body>
<!--      <div class="contenedorizq"><label  >pnt_gecoms</label> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->
    <!--<div class="container">-->
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div> 
        <div class="col-md-8">
            <div class="row text-center">
                        <img src="../../static/image/asistencia.png" width="100" th:src="@{/image/asistencia.png}"/>
        <!--<h2 align="center">Crear Inasistencia</h2>-->
        <div>
            <form class="form-horizontal" th:object="${inasistencia}" th:action="@{../inasistencia}"  method="post" enctype="multipart/form-data">
<!--                <input type="hidden" th:field="*{codigocomision}"/>
                <input type="hidden" th:field="*{nombrecomision}"/>-->
                             <div class="form-group">
                        <label class="col-sm-2 control-label">Empleado:(*)</label>
                        <div class="col-sm-6" >
                            <select class="form-control"  th:field="*{codigoempleado.codigoempleado}" >
                                 <option value="0">-- Seleccione un Empleado --</option>
                                <option th:each="c:${empleados}" th:value="${c.codigoempleado}" th:text="${c.nombreempleado}+', '+${c.apellidoempleado}"></option>
                            </select>
                            <!--<input type="text" class="form-control" onkeypress="return valida(event)" th:field="*{codigoempleado.codigoempleado}"/>-->
                        </div>
                        <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('inaemp')" onmouseout ="javascript:ocultarAyuda('inaemp')">a</a></b>

                                <span class="popuptext" id="inaemp">Seleccione el empleado. !!</span>
                            </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Motivo de Inasistencia:(*)</label>
                    <div class="col-sm-9">
                       <textarea rows="3" cols="50" class="form-control" size="200" maxlength="200"  required="true" th:field="*{motivoinasistencia}">

                            </textarea>
                        <!--<input type="text" class="form-control" size="200" maxlength="200" required="true" th:field="*{motivoinasistencia}"/>-->
                    </div>
                       <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('inasistencia')" onmouseout ="javascript:ocultarAyuda('inasistencia')">a</a></b>

                                <span class="popuptext" id="inasistencia">Ingrese el Motivo de la Inasistencia. Solo es permitido digitos 200 caracteres. !!</span>
                            </div>
                </div>
                
                
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Justificacion Inasistencia:(*)</label>
                    <div class="col-sm-9">
                        <textarea rows="3" cols="50" class="form-control" size="200" maxlength="200"  required="true" th:field="*{constanciainasistencia}">

                            </textarea>
                        <!--<input type="text" class="form-control" size="200" maxlength="200" required="true" th:field="*{constanciainasistencia}"/>-->
                    </div>
                        <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('constancia')" onmouseout ="javascript:ocultarAyuda('constancia')">a</a></b>

                                <span class="popuptext" id="constancia">Ingrese la justificaciion. Solo es permitido digitos 200 caracteres. !!</span>
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Fecha Inicio Inasistencia:(*)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control fecha_format" id="fdesde" required="true" th:field="*{fechadesdeinasistencia}"onchange="isDat(this.value,'fdesde');Fechas(this.value,$('#fhasta').val().toString(),'fdesde','fhasta')"/>
                    </div>
                       <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechadesde')" onmouseout ="javascript:ocultarAyuda('fechadesde')">a</a></b>
                        
                        <span class="popuptext" id="fechadesde">Ingrese la Fecha de inicio de la Inasistencia. Haga un clic en la caja vacía.!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Fecha Fin Inasistencia:(*)</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control fecha_format" id="fhasta" required="true" th:field="*{fechahastainasistencia}"onmouseout ="javascript:ocultarAyuda('fechahasta')"onchange="isDat(this.value,'fhasta');Fechas($('#fdesde').val().toString(),this.value,'fdesde','fhasta')"/>
                    </div>
                     <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechahasta')" >a</a></b>
                        
                        <span class="popuptext" id="fechahasta">Ingrese la Fecha de finalizacion de la Inasistencia. Haga un clic en la caja vacía.!</span>
                    </div>
                </div>
  <div class="col-md-12">
      
         <div class="form-group">
                    <label class="col-sm-2 control-label">Acuerdo:(*)</label>
                    <div class="col-sm-4">
                        <input type="file" name="file" />
                               <!--class="" required="true" th:field="*{docaprovacion}"-->
                               
                    </div>
                     <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('documento')" onmouseout ="javascript:ocultarAyuda('documento')">a</a></b>
                        
                        <span class="popuptext" id="documento">Seleccione un archivo desde una ubicacion de su Ordenador. Haga un clic en el boton subir.!</span>
                    </div>
                </div>
                        <div class="row" align="center">
                             <a href="#" th:href="@{/inasistencias/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                            <button type="submit"  onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                            <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                        </div>
                         
                    </div>

            </form>
        </div>
    </div>
         </div>
   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
</body>
<script>
    Textheader('pnt_inac',document.title);
    function Fechas(val1,val2,val3,val4){
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
    $(document).ready(function () {
        $('#fdesde').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#fhasta').datepicker({
            dateFormat: 'dd/mm/yy'
        });
       
    });
</script>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../inasistencias/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
      function descargapdf(idpdf){
             location.href = './descarga/' + idpdf;
        }
</script> 
</html>
