<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Listado de bitacoras</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>

<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-9">
          <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/bitacora.png}"/>
                    </div>
        <!--<h3 align="center">Bitacoras</h3>-->
    <div>
       
        <table id = "tablita" class="table table-striped">
            <thead>
            <tr>
                <th>Código bitacora</th>
                <th> Nombre evento</th>
                <th>Fecha del evento</th>
                <th>Ip de origen </th>
                 <th>Usuario</th>
                 <th>Acciones</th>
                
            </tr>
            </thead>
            <tr th:each="bitacora : ${bitacoras}">
                <td th:text="${bitacora.codigobitacora}">Codigo bitacora</td>
                <td th:text="${bitacora.nombreeventobitacora}">evento</td>
                <td th:text="${#calendars.format(bitacora.fechabitacora, 'dd/MM/yyyy')}">fecha del evento</td>
                 <td th:text="${bitacora.ip}">ip de origen </td>
                  <td th:text="${bitacora.codigousuariobitacora}">Usuario</td>
                
                <td><a th:href="${'./show/' + bitacora.codigobitacora}" class="btn btn-info">Mostrar</a>
     
            </tr>
        </table>
    </div>
</div>
    </div>
    <script>
        
        Textheader('pnt_bita',document.title);
    </script>
</body>
</html>