<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--<meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
 
      <!--<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>-->
     <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
     <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
     <style type="text/css">
     .boton{
  width:30px;
  height:30px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
 </style>
     
    <title>Crear empleado</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<!--    <div class="contenedorizq"><label  ></label>  
    <label  class="der">
    <script >
//var f = new Date();
//document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
//</script>
    </label>
</div><br>-->
<!--<div class="container">-->
 <div class="row">
 <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8"><br><br>
            <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/images.jpeg}"/>
            </div>
            
          
            
<!--    <h3 align="center">Crear Empleado</h3>-->
    
    
   

      <form id ="fromemp" class="form-horizontal" th:object="${empleado}" th:action="@{../empleado}" method="post">
          <input type="hidden" id="codem" th:field="*{codigoempleado}"/>
            <!--<input type="hidden" th:field="*{nombreempleado}"/>-->
            <div class="col-md-12">
                
            <div class="form-group ">
<!--                <div class="col-sm-8" >
                   </div>   -->
                  <div class="row text-center" >
                       <!--<a href="#" th:href="@{'.././show/' +   $('#codem').val().toString())}" class="btn btn-info">Gestionar  <br> Informacion Adicional</a>-->  
                        <a href="#" id="btngestionar" class="btn btn-info">Gestionar  <br> informacion adicional</a>  
                  <div class="popup " id="divpop"><b>
                         <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppupr')" onmouseout ="javascript:ocultarAyuda('poppupr')">a</a></b>                       
                        <span class="popuptext" id="poppupr">Opcion para gestionar informacion adicional del empleado.!</span>
                    </div> 
                  </div>   
                 
            </div>
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">Puesto del empleado:</label>
                        <div class="col-sm-5" >
                            <select class="form-control"  th:field="*{codigopuesto}"  width="50" id="select" name="select">
                                  <option value="0">--seleccione el puesto para el empleado--</option>
                                <option th:each="c:${puestos}" th:value="${c.codigopuesto}" th:text="${c.nombrepuesto}"></option>
                            </select>
                        </div>
                          <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup1')" onmouseout ="javascript:ocultarAyuda('poppup1')">a</a></b>
                        
                        <span class="popuptext" id="poppup1">Seleccione el Puesto del Empleado.!</span>
                    </div>
                    </div>
                
                
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Nombres del empleado(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"  required="true" size="50" maxlength="50"  th:field="*{nombreempleado}"  >
                                        
                    </div>

                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup2')" onmouseout ="javascript:ocultarAyuda('poppup2')">a</a></b>
                        
                        <span class="popuptext" id="poppup2">Ingrese el Nombre del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Apellidos del empleado(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"   required="true" size="50" maxlength="50"  th:field="*{apellidoempleado}" />
                    </div>
                      <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup3')" onmouseout ="javascript:ocultarAyuda('poppup3')">a</a></b>
                        
                        <span class="popuptext" id="poppup3">Ingrese el Apellido del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                     
                </div>
                   <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de nacimiento del empleado(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" placeholder="dia/mes/año" type="text" size="10" name="fechanacimiento" id="fechanacimiento"  th:field="*{fechanacimientoempleado}" onchange="fechaNac(this.value,'fechanacimiento')" />
                    
                </div>
                 <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup4')" onmouseout ="javascript:ocultarAyuda('poppup4')">a</a></b>
                        
                        <span class="popuptext" id="poppup4">Seleccione o digite la Fecha de Nacimiento del Empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                 <div class="form-group">
                <label class="col-sm-3 control-label">Nacionalidad del empleado(*):</label>
                <div class="col-sm-5">
                    <select class="form-control" name="nacionalidad" th:field="*{nacionalidad}">
                        <!--th:field="*{nacionalidad}">-->
                        <option value="0">--seleccione la nacionalidad del empleado--</option>
                        <option value="Salvadoreño">Salvadoreño</option>
                        <option value="Hondureño">Hondureño</option>

                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup5')" onmouseout ="javascript:ocultarAyuda('poppup5')">a</a></b>
                        
                        <span class="popuptext" id="poppup5">Seleccione la nacionalidad del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                 <div class="form-group">
                <label class="col-sm-3 control-label">Departamentasdo de nacimiento del empleado(*):</label>
                <div class="col-sm-4">
                    <select id="dep1" class="form-control" name="departamentonacimiento" th:field="*{departamentonacimiento}" onchange="searchmunicipio(this,'1');" >
                    <option th:value="${departamentonacimiento}" th:text="${departamentonacimiento==null}?'--seleccione un departamento--':${departamentonacimiento}"></option>
                    <option th:each="d:${departamentos}" th:value="${d.codigoestado}" th:text="${d.nombreestado}"></option>
                    </select>
                    
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup6')" onmouseout ="javascript:ocultarAyuda('poppup6')">a</a></b>
                        
                        <span class="popuptext" id="poppup6">Seleccione el departamento de nacimiento del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Municipio de nacimiento del empleado(*):</label>
                <div class="col-sm-4" id ="refresh-after-municipio">
                    <select style="width:255px;" id="mun1" class="form-control" name="municipionacimiento" th:field="*{municipionacimiento}">
                        <option th:value="${municipionacimiento}" th:text="${municipionacimiento==null}?'--seleccione un municipio--':${municipionacimiento}"></option>
                    <option th:each="e:${municipios}" th:value="${e.codigoestado}" th:text="${e.nombreestado}"></option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup7')" onmouseout ="javascript:ocultarAyuda('poppup7')">a</a></b>
                        
                        <span class="popuptext" id="poppup7">Seleccione el municipio de nacimiento del Empleado desplegando la lista.!</span>
                    </div>
                
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Estado familiar del empleado(*):</label>
                <div class="col-sm-5">
                    <select class="form-control" name="estadofamiliar" th:field="*{estadofamiliar}">
                            <!--th:field="*{estadofamiliar}">-->
                              <option value="0">--seleccione el estado familiar del Empleado--</option>
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                         <option value="Viudo">Viudo</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup8')" onmouseout ="javascript:ocultarAyuda('poppup8')">a</a></b>
                        
                        <span class="popuptext" id="poppup8">Seleccione el estado familiar del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Sexo del empleado(*):</label>
                <div class="col-sm-5">
                    <select class="form-control" name="sexoempleado" th:field="*{sexoempleado}">
                            <!--th:field="*{sexoempleado}">-->
                              <option value="0">--seleccione el sexo del empleado--</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup9')" onmouseout ="javascript:ocultarAyuda('poppup9')">a</a></b>
                        
                        <span class="popuptext" id="poppup9">Seleccione el genero  del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Residencia permanente del empleado(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"  required="true" size="50" maxlength="50"  th:field="*{recidenciapermanente}" />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup10')" onmouseout ="javascript:ocultarAyuda('poppup10')">a</a></b>
                        
                        <span class="popuptext" id="poppup10">Ingrese la residencia permanente del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Teléfono fijo del empleado(*):</label>
                    <div class="col-sm-2">
                        <input type="text"  class="form-control num_telefono" required="true"    th:field="*{telefonofijoempleado} "/>
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup11')" onmouseout ="javascript:ocultarAyuda('poppup11')">a</a></b>
                        
                        <span class="popuptext" id="poppup11">Ingrese el telefono fijo del Empleado solo se admitiran 9 caracteres numericos.!</span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">Teléfono móvil del empleado(*):</label>
                    <div class="col-sm-2">
                        <input type="text"  class="form-control num_telefono" required="true"   th:field="*{telefonomovilempleado}  "/>
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup12')" onmouseout ="javascript:ocultarAyuda('poppup12')">a</a></b>
                        
                        <span class="popuptext" id="poppup12">Ingrese el telefono movil del Empleado solo se admitiran 9 caracteres numericos.!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Correo electronico del empleado(*):</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control"  required="true" th:field="*{emailempleado}  "/>
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup13')" onmouseout ="javascript:ocultarAyuda('poppup13')">a</a></b>
                        
                        <span class="popuptext" id="poppup13">Ingrese el correo electronico  del Empleado solo se admitiran 50 caracteres.!</span>
                    </div>
                </div>
<!--            </div>
            <div class="col-md-6">  -->
                
<!--                  <div class="form-group">
                <label class="col-sm-3 control-label">Departamento de Residencia del Empleado(*):</label>
                <div class="col-sm-5">

                     <select class="form-control" name="departamentorecidencia" th:field="*{departamentorecidencia}" onchange="searchmunicipio(this,'2');" >
                    <option th:value="${departamentorecidencia}" th:text="${departamentorecidencia==null}?'--seleccione un departamento--':${departamentorecidencia}"></option>
                    <option th:each="f:${departamentosres}" th:value="${f.codigoestado}" th:text="${f.nombreestado}"></option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup14')" onmouseout ="javascript:ocultarAyuda('poppup14')">a</a></b>
                        
                        <span class="popuptext" id="poppup14">Seleccione el departamento de residencia del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Municipio de Residencia del Empleado(*):</label>
                <div class="col-sm-5" >

                    
                      <select class="form-control" name="municipioresidencia" th:field="*{municipioresidencia}">
                        <option th:value="${municipioresidencia}" th:text="${municipioresidencia==null}?'--seleccione un municipio--':${municipioresidencia}"></option>
                    <option th:each="g:${municipiores}" th:value="${g.codigoestado}" th:text="${g.nombreestado}"></option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup15')" onmouseout ="javascript:ocultarAyuda('poppup15')">a</a></b>
                        
                        <span class="popuptext" id="poppup15">Seleccione el municipio de residencia del Empleado desplegando la lista.!</span>
                    </div>
            </div>-->
                
                  <div class="form-group">
                    <label class="col-sm-3 control-label">DUI del empleado(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control num_dui"  required="true"   th:field="*{duiempleado}"  />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup16')" onmouseout ="javascript:ocultarAyuda('poppup16')">a</a></b>
                        
                        <span class="popuptext" id="poppup16">Ingrese el DUI del empleado solo se admitiran 9 caracteres numericos.!</span>
                    </div>
                </div>
                
                  <div class="form-group">
                    <label class="col-sm-3 control-label">NIT del empleado(*):</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control num_nit" required="true"  th:field="*{nitempleador}"   />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup17')" onmouseout ="javascript:ocultarAyuda('poppup17')">a</a></b>
                        
                        <span class="popuptext" id="poppup17">Ingrese el NIT del empleado solo se admitiran 14 caracteres numericos.!</span>
                    </div>
                </div>
                
                  <div class="form-group">
                    <label class="col-sm-3 control-label">ISSS del empleado(*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control num_isss" required="true"  th:field="*{isssempleado}" />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup18')" onmouseout ="javascript:ocultarAyuda('poppup18')">a</a></b>
                        
                        <span class="popuptext" id="poppup18">Ingrese el ISSS del empleado solo se admitiran 9 caracteres numericos.!</span>
                    </div>
                </div>
                   <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de ingreso al sector publico (*):</label>
                <div class="col-sm-2">
                    
                     <input class="form-control fecha_format" type="text"   placeholder="dia/mes/año" name="fechasepu" id="fechasepu" th:field="*{fechaingresosecpub}"  onchange="isDat(this.value,'fechasepu');Fechas(this.value,$('#fechamin').val().toString(),'fechasepu','fechamin')" />
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup19')" onmouseout ="javascript:ocultarAyuda('poppup19')">a</a></b>
                        
                        <span class="popuptext" id="poppup19">Seleccione o digite la Fecha de ingreso al sector publico del Empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                   <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de ingreso al sector privado(*):</label>
                <div class="col-sm-2">
                    <input class="form-control fecha_format" type="text"  placeholder="dia/mes/año"  name="fechasepr" id="fechasepr"  th:field="*{fechaingresosecpriv}"  onchange="isDat(this.value,'fechasepr')"/>
                 </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup20')" onmouseout ="javascript:ocultarAyuda('poppup20')">a</a></b>
                        
                        <span class="popuptext" id="poppup20">Seleccione o digite la Fecha de ingreso al sector privado del Empleado el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                   <div class="form-group">
                <label class="col-sm-3 control-label">Fecha de Ingreso al ministerio(*):</label>
                <div class="col-sm-2">
                     <input class="form-control fecha_format" type="text"  name="fechamin" id="fechamin"  th:field="*{fechaingresoministerio}" onchange="isDat(this.value,'fechamin');Fechas($('#fechasepu').val().toString(),this.value,'fechasepu','fechamin')" />
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup21')" onmouseout ="javascript:ocultarAyuda('poppup21')">a</a></b>
                        
                        <span class="popuptext" id="poppup21">Seleccione o digite la Fecha de ingreso del Empleado al ministerio el formtado debe ser  dia/mes/año .!</span>
                    </div>
            </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">Grupo sanguineo del empleado(*):</label>
                    <div class="col-sm-5">
                        <!--<input type="text" class="form-control"    th:field="*{gruposanquineo}" />-->
                          <select class="form-control" name="gruposanquineo" th:field="*{gruposanquineo}" >
                            <!--th:field="*{departamentorecidencia}">-->
                        <option value="0">--seleccione el grupo sanguineo del empleado--</option>
                        <option value="Grupo A">Grupo A</option>
                        <option value="Grupo B">Grupo B</option>
                         <option value="Grupo AB">Grupo AB</option>
                         <option value="Grupo O">Grupo 0</option>
                    </select>
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup22')" onmouseout ="javascript:ocultarAyuda('poppup22')">a</a></b>
                        
                        <span class="popuptext" id="poppup22">Seleccione el grupo sanguineo del Empleado desplegando la lista.!</span>
                    </div>
                </div>
                 <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de pension del empleado(*):</label>
                <div class="col-sm-5">
                    <select class="form-control" name="afiliacionpension"  th:field="*{afiliacionpension}">
                            <!--th:field="*{afiliacionpension}" >-->
                             <option value="0">--seleccione tipo de pension del Empleado--</option>
                        <option value="AFP CONFIA">AFP CONFIA</option>
                        <option value="AFP CRECER">AFP CRECER</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup23')" onmouseout ="javascript:ocultarAyuda('poppup23')">a</a></b>
                        
                        <span class="popuptext" id="poppup23">Seleccione la institucion de afiliacion de pensiones del Empleado desplegando la lista.!</span>
                    </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">NUP del empleado(*):</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control num_nup" required="true"  th:field="*{numeroafiliacion}"  />
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup24')" onmouseout ="javascript:ocultarAyuda('poppup24')">a</a></b>
                        
                        <span class="popuptext" id="poppup24">Ingrese el NUP del Empleado solo se admitiran 12 caracteres numericos.!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Banco en el que se le deposita al empleado(*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"   required="true" size="50"   th:field="*{nombreinstiuciondepositar}"  />
                    </div>
                     <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup25')" onmouseout ="javascript:ocultarAyuda('poppup25')">a</a></b>
                        
                        <span class="popuptext" id="poppup25">Ingrese el nombre del banco en el que se le depositara al Empleado solo se admitiran 50 caracteres .!</span>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de cuenta bancaria del empleado(*):</label>
                <div class="col-sm-5">
                    <select class="form-control" name="tipocuenta" th:field="*{tipocuenta}">
                            <!--th:field="*{tipocuenta}">-->
                             <option value="0">--seleccione el tipo de cuenta Bancaria del Empleado--</option>
                        <option value="Ahorros">Ahorros</option>
                        <option value="Corriente">Corriente</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup26')" onmouseout ="javascript:ocultarAyuda('poppup26')">a</a></b>
                        
                        <span class="popuptext" id="poppup26">Seleccione el tipo de cuenta bancaria del Empleado desplegando la lista.!</span>
                    </div>
             
            </div>
                   <div class="form-group">
                    <label class="col-sm-3 control-label">Numero de cuenta bancaria del empleado(*):</label>
                    <div class="col-sm-4">
                        <input type="text"  class="form-control num_cuenta"   required="true" size="30" th:field="*{numerocuenta} "/>
                    </div>
                    <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup27')" onmouseout ="javascript:ocultarAyuda('poppup27')">a</a></b>
                        
                        <span class="popuptext" id="poppup27">Ingrese el numero de cuenta bancaria del Empleado solo se admitiran 30 caracteres .!</span>
                    </div>
                </div>
 <div class="form-group">
                <label class="col-sm-3 control-label">Estado del empleado(*):</label>
                <div class="col-sm-6">
                    <select class="form-control" name="estadoempleado" th:field="*{estadoempleado}">
                            <!--th:field="*{tipocuenta}">-->
                             <option value="7">--seleccione el estado del Empleado--</option>
                        <option value="1">Activo</option>
                        <option value="3">Pensionado</option>
                        <option value="2">Indemnizado</option>
                        <option value="4">Despedido</option>
                        <option value="0">De Baja</option>
                    </select>
                </div>
                <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup263')" onmouseout ="javascript:ocultarAyuda('poppup263')">a</a></b>
                        
                        <span class="popuptext" id="poppup263">Seleccione el estado del Empleado desplegando la lista.!</span>
                    </div>
             
            </div>
 <br><br>
            </div>
           
          <div class="col-md-12">
            <div class="row" align="center">

                 <a href="#" th:href="@{/empleados/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  

                <button type="submit"  onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                <br><br>
            </div>
    </div>
      </form>
   
                   
                    
                
<!--          </div>
           <div class="col-md-12">
            <div class="row" align="center">
                <button type="button" class="btn btn-default"><a href="#" th:href="@{/empleado/}">Regresar</a></button>
                <button type="submit" class="btn btn-default">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar</button>
            </div>
    </div>
                </form>-->
      </div>
  </div><!-- tab -->

               </div>
            </div>

   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>

        
       
</body>
<!--<script src="../static/css/hydro/js/jquery.js"></script>-->
	        
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
            
            Textheader('pnt_cem1',document.title);
// 		$(document).ready(function() {
// 			$(function () {
// 				$("#datepickersince").datepicker();
// 			});

// 			$(function () {
// 				$("#datepickeruntil").datepicker();
// 			});
// 		});
                    function Fechas(val1,val2,val3,val4){
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function fechaNac(val,id){
                        var foo=FechaNacimiento(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
		
		$(document).ready(function () {
		    var date = new Date();
		    var currentMonth = date.getMonth();
		    var currentDate = date.getDate();
		    var currentYear = date.getFullYear();
                    
		    $('#fechanacimiento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		       dateFormat: 'dd/mm/yy'
		    });
		    
		    $('#fechasepu').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechasepr').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechamin').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechanacde').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechahfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechadfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fechacapreevento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#fecha2').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechahexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechadubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechaicontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechafcontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                     $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'dd/mm/yy'
		    });
                    
                    $('#btngestionar').click(function(){
                                    $("#fromemp").attr('action', '../show/' + $("#codem").val().toString());
                                    $("form#fromemp").submit();
                                    });
                  
		});
	</script>
        
         <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                 location.href = '../empleados/';
                 swal({
                text: "Redirigiendo a consulta de empleados",
                icon: "success"
                })
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 

 <script th:inline="javascript">
    $(document).ready(function () {
     document.getElementById('mun1').value=[[${mun}]]
    });
</script> 

<script>
    var URLactual = window.location.href;
    if (URLactual.includes("edit")){
        var txtVal = document.getElementById('dep1').value;
        var idemp =(jQuery('#codem').val()=="")?0:jQuery('#codem').val();
        doLoad(null, './../municipio/' + txtVal + '/' + idemp , 'refresh-after-municipio', null);
        document.getElementById('mun1').style.width="120px";
                   
//                    document.getElementById('btngestionar').style.display = 'block';
//                    document.getElementById('divpop').style.display = 'block';
                    
//                    $('#btngestionar')..show();
//                    $('#divpop')..show();
    }
    else{
//                    alert("str1");
// $('#btngestionar').hide();
// $('#divpop').hide();
                     document.getElementById('btngestionar').style.display = 'none';
                     document.getElementById('divpop').style.display = 'none';
  }
</script>

<script>
    function ordenarSelect(id_componente)
    {
      var selectToSort = jQuery('#' + id_componente);
      var optionActual = selectToSort.val();
      selectToSort.html(selectToSort.children('option').sort(function (a, b) {
        return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
      })).val(optionActual);
    }
    $(document).ready(function () {
      ordenarSelect('select');
    });
    function searchmunicipio(object,value) {
        var txtVal = object.value;
        var idemp =(jQuery('#codem').val()=="")?0:jQuery('#codem').val();
        if(value==1){
            doLoad(null, './../municipio/' + txtVal + '/' + idemp , 'refresh-after-municipio', null);
        }else if(value==2){
            var txtVal2 =  document.getElementById('dep1').value;
             var txtVal3 =  document.getElementById('mun1').value;
            doLoad(null, './../municipiore/' + txtVal + '/' + txtVal2 + '/' + txtVal3 + '/'+ idemp , 'refresh-after-municipio', null);
        }
       
    }
//     function searchmunicipiores(object) {
//        var txtVal = object.value;
//        var idemp =(jQuery('#codem').val()=="")?0:jQuery('#codem').val();
//        doLoad(null, './../municipiore/' + txtVal + '/' + idemp , 'refresh-after-municipio', null);
//    }
  </script>
</html>

