<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Listado de Empleados</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <script> Textheader('pnt_cem13', document.title);</script>
    <div th:if="${not #lists.isEmpty(empleados)}" >
        <div class="row">
            <div class="col-md-3">
                <th:block th:include="../templates/menu"></th:block>
            </div>
            <div class="col-md-9">
                <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/images.jpeg}"/>
                </div>
                <h3 align="center"></h3>
                <table id="tablita" class="table table-striped table-bordered" >
                    <thead> 
                        <tr >
                            <th>Código de Empleado</th>
                            <th>Nombre de  Empleado</th>
                            <th>Fecha de Nacimiento</th>
                            <th>DUI</th>
                            <th>NIT</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr th:each="empleado : ${empleados}">
                        <td th:text="${empleado.codigoempleado}">codigoempleado</td>
                        <td th:text="${empleado.nombreempleado}">nombreempleado</td>
                        <td th:text="${empleado.fechanacimientoempleado}">fechanacimientoempleado</td>                
                        <td th:text="${empleado.duiempleado}">duiempleado</td>
                        <td th:text="${empleado.nitempleador}">nitempleador</td>
                        <td th:text="${empleado.emailempleado}">emailempleado</td>
                        <td><a th:href="${'./showcons/' + empleado.codigoempleado}" class="btn btn-info">Mostrar</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <th:block th:include="../templates/footer"></th:block>
            </div>
        </div>
    </div> 
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#tablita').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }});
        });
    </script> 
    <script>
        $(document).ready(function () {
            $("#tipoLista").on("change")
        });
    </script> 
</body>
</html>