<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Listado de Usuarios</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
<!--          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>-->
<div class="row">
 <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
         <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/images.jpeg}"/>
                    </div>
        <!--<h3 align="center">Todos los Usuarios</h3>-->
    <div th:if="${not #lists.isEmpty(usuarios)}">
        <div class="table-responsive">
 <table id="tablita" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Estado de Contraseña</th>
                <th>Fecha de Ingreso </th>
                <th>Fecha de Baja</th>
                   <th></th><th></th><th></th>
            </tr>
            </thead>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.codigousuario}">Codigo</td>
                <td th:text="${usuario.nombreusuario}">Usuario</td>
                <td th:text="${usuario.estadousuario}?'ACTIVO':'INACTIVO'">Estado</td>
                <td th:text="${usuario.controlcontrasenia=='0'}?'TEMPORAL':'VERIFICADA'">control</td>
                <td th:text="${#calendars.format(usuario.fechaingreso, 'dd/MM/yyyy')}">Fecha Desde</td>
                <td th:text="${#calendars.format(usuario.fechabaja, 'dd/MM/yyyy')}">Fecha de baja</td>
                 
                <td><a th:href="${'./show/' + usuario.codigousuario}" class="btn btn-info">Mostrar</a></td>
                <td> <a th:href="${'./edit/' + usuario.codigousuario}" class="btn btn-success">Editar</a></td>
                <td> <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${usuario.codigousuario} + '\');'" >Eliminar</a></td>
            </tr>
        </table>
    </div>
</div>
    </div>
    <script th:inline="javascript">
         Textheader('pnt_geus',document.title);
      $(document).ready(function () {
            $('#tablita').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        }} );
    });
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
       
        if ([[${msg}]] === 3){
        swal({

        title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
        }).then(function() {
        location.href = '../../usuarios/';
        });
        }

        if ([[${msg}]] === 4){
        swal({
        title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
        });
        }
        });
        function eliminar(id) {
        swal({
        title: "Desea Eliminar?",
                text: "Favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
        })
                .then((willDelete) => {
                if (willDelete) {
                location.href = './delete/' + id;
                } else {
                swal("Accion cancelada", "Se ha cancelado la operacion de eliminado", "error");
                }
                });
        }
    </script>
</body>

</html>
