<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SISADMRH</title>
     <th:block th:include="../templates/header"></th:block> 
</head>
<body>
<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
<h3 align="center">Datos de Usuario</h3>
        <div>
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">codigo:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.codigousuario}">Usuario Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.nombreusuario}">Nombre</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">contraseña:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.contraseniausuario}">contraseña</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">control pass:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.controlcontrasenia}">control pass</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">estado:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.estadousuario}">estado</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">fechaing:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.fechaingreso}">fecha ing</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">fecha cad:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.fechacaducidad}">fecha cad</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">fecha baj:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${usuario.fechabaja}">fecha baj</p>
                    </div>
                </div>
            </form>
                    <div class="col-md-12">
            <div class="row" align="center">
 <button type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-left">Regresar</span><a href="#" th:href="@{/usuarios/}">Reg</a></button>                
            </div>
    </div>
    </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    $(document).ready(function () {
    if([[${lol}]]===0){
       swal("Exito!", "Registro agregado correctamente", "success");
    }
    
    if([[${lol}]]===1){
       swal("ERROR!", "Ocurrio un error en el proceso", "error");
    }
    });
</script>
</html>