<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Crear Elementos</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<!--       <div class="contenedorizq"><label  >pnt_stdo</label>  
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>-->
</div><br>
 <div class="row">
        <div class="col-md-3">
         <th:block th:include="../templates/menu"></th:block>
         <!--<div ><label  >pnt_cstd</label> </div>-->
    </div> 
        <div class="col-md-8">
            <!--<h3 align="center" >Crear Estado</h3>-->
    <div>
        <form class="form-horizontal" th:object="${formestado}" th:action="@{../estado}" method="post">
            <input type="hidden" th:field="*{estado.codigoestado}"/>
            <!--<input type="hidden" th:field="*{nombreestado}"/>-->
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Codigo de estado:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{codigoestado}"/>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre del estado:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required="true" size="50" maxlength="50" th:field="*{estado.nombreestado}"/>
                </div>
                  <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('stado')" onmouseout ="javascript:ocultarAyuda('stado')">a</a></b>
                        
                        <span class="popuptext" id="stado">Ingrese El nombre del estado. Solo se aceptan 50 caracteres.!</span>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estado Superior:</label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{estado.codigoestadosuperior}" >
                         <option value="">-- Seleccione el estado superior --</option>
                                <option th:each="c:${formestado.estados}" th:value="${c.codigoestado}" th:text="${c.nombreestado}"></option>
                            </select>
                    <!--<input type="number" class="form-control" th:field="*{codigocapacitacion.codigocapacitacion}"/>-->
                </div>
                <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('stadosperior')" onmouseout ="javascript:ocultarAyuda('stadosperior')">a</a></b>
                        
                        <span class="popuptext" id="stadosperior">Seleccion el Estado Superior. Si es Por privera vez lo deja Vacio. .!</span>
                    </div>
            </div>
           <div class="col-md-12">
            <div class="row" align="center">
                 <a href="#" th:href="@{/estados/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                            <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                        
            </div>
    </div>
        </form>
    </div>
 
            
        </div>
    </div>
   
   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
</body>
<script th:inline="javascript">
    Textheader('pnt_cstd',document.title);
    $(document).ready(function () {
    if ([[${msg}]] === 0){
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success"
    }).then(function() {
    location.href = '../estados/';
    });
    }

    if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error"
    });
    }
    });</script> 
<script>th:href = "@{/css/bootstrap.min.css}" / ></script>
<script>th:href = "@{/css/jquery-ui.min.css}" / ></script>
</html>
