<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
     <style type="text/css">
     .boton{
  width:30px;
  height:30px;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
 </style>
     
    <title>Detalle de capacitaciones recibidas</title>
  <th:block th:include="../templates/header"></th:block>
  </head>
<body>
<!--      <div class="contenedorizq"><label  >pnt_cem5_2</label>  
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->
<script> Textheader('pnt_cem5_2',document.title);</script>

<!--<div class="container">-->
 <div class="row">
 <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/capacitacion.jpg}"/>
            </div>
    <h3 align="center"></h3>
    

    
        <br> 
        
        <br> <form class="form-horizontal" id="formempleado" th:object="${empleado}" >
            
            <div class="col-md-12" style="background-color:#d9edf7;">
                <div class="panel-info">
                    <div class="panel-heading row text-center">
                        <h3>Informacion de capacitaciones recibidas del empleado:  <label id="nomemp" class=" control-label" th:text="${empleado.nombreempleado} +' ' +${empleado.apellidoempleado}"></label> </h3>
                    </div>
                </div>
            </div>
</form>
       <form class="form-horizontal">
            <br>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Código:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${caparecibida.codigocaparecibidas}">codigo de Empleado</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Tipo de evento:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${caparecibida.tipoevento}">Nombre de Empleado</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Especialidad del evento:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${caparecibida.especialidad}">Apellido de Empleado</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Organismo Patrocinador</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${caparecibida.organismo}">Fecha de Nacimiento</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-7 control-label">País:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static" th:text="${caparecibida.pais}">Telefono movil de empleado</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label">Fecha del evento:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static" th:text="${#calendars.format(caparecibida.fechaevento, 'dd/MM/yyyy')}">DUI</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label">Duración  horas:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static" th:text="${caparecibida.dhoras}">Email Empleado</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label">Duración dias:</label>
                            <div class="col-sm-5">
                                <p class="form-control-static" th:text="${caparecibida.ddias}">Email empleado</p>
                            </div>
                        </div>
                    </div> 


                </form>
      <div class="col-md-12">
                    <div class="row" align="center">
                        <a href="#" th:href="@{/empleados/show/}+${empleado.codigoempleado}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>                  
          <!--<button type="submit" class="btn btn-default"><a href="#" th:href="@{/empleados/}">Regresar</a></button>-->

                    </div>
                </div>
  
  

               </div>
            </div>

   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>

        
       
</body>
<script src="../static/css/hydro/js/jquery.js"></script>
	        
	<script>
		$(document).ready(function () {
		    var date = new Date();
		    var currentMonth = date.getMonth();
		    var currentDate = date.getDate();
		    var currentYear = date.getFullYear();
                    
		    $('#fechanacimiento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		       dateFormat: 'yy-mm-dd'
		    });
		    
		    $('#fechasepu').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechasepr').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechamin').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechanacde').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechahfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechadfa').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('#fechacapreevento').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                    $('fechadexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    $('fechahexlaboral').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    $('fechadubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                     $('fechaicontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                     $('fechafcontrato').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
                    
                     $('fechahubf').datepicker({
// 		        minDate: new Date(currentYear, currentMonth, currentDate),
		        dateFormat: 'yy-mm-dd'
		    });
		});
	</script>
<script th:inline="javascript">

    $(document).ready(function () {
    if ([[${msg}]] === 3){

    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
            }).then(function() {
            location.href = '../../../empleados/show/'+[[${empleado}]];
               swal({
                text: "Redirigiendo a consulta de empleado",
                icon: "success"
                })
    });
    }

    if ([[${msg}]] === 4){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
            });
    }
    });</script>         
        
</html>
