<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">

        <title>Crear evaluacion capacitación</title>
        <!--         <th:block th:include="../templates/header"></th:block>-->
        <link rel="stylesheet"
              th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet"
              th:href="@{/css/jquery-ui.min.css}" />
    <th:block th:include="../templates/header"></th:block>

</head>
<body>

<!--    <div class="contenedorizq"><label  >pnt_ceca</label>  
        <label  class="der">
            <script >
                var f = new Date();
                document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());</script></label>
    </div><br>-->
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div> 
        <div class="col-md-8">
            <div class="row text-center">
                        <img src="../../static/image/evaluacion.png" width="75" th:src="@{/image/evaluacion.png}"/>
<!--            <h3 align="center">Registro de Incapacidades</h3>-->
            <div>
                <br>
                <form class="form-horizontal" th:object="${evaluacioncapacitacion}" th:action="@{../evaluacioncapacitacion}" method="post">

                    <div class="col-md-6">
                        <input type="hidden" th:field="*{codigoevaluacioncapacitacion}"/>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Capacitación(*):</label>
                            <div class="col-sm-8">
                                <select class="form-control"  th:field="*{codigocapacitacion.codigocapacitacion}">
                                    <option value="0">-- Seleccione la capacitación --</option>
                                    <option th:each="c:${capacitaciones}" th:value="${c.codigocapacitacion}" th:text="${c.nombrecapacitacion}"></option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('capacitacion')" onmouseout ="javascript:ocultarAyuda('capacitacion')">a</a></b>

                                <span class="popuptext" id="capacitacion">Seleccion La Capacitaciaon a Evaluar. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lugar de la capacitación(*):</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" max="100" maxlength="100" required="true" th:field="*{lugarcapacitacion}" />
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('stadosperior')" onmouseout ="javascript:ocultarAyuda('stadosperior')">a</a></b>

                                <span class="popuptext" id="stadosperior">Ingrese el lugar donde se lleva acabo la Capacaitacion.  .!</span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha y hora(*):</label>
                            <div class="col-sm-6">
                                <input input-group date type="text"id="hra" class="form-control fecha_datetime" th:field="*{horaevualuacioncapacitacion}"/>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('hora')" onmouseout ="javascript:ocultarAyuda('hora')">a</a></b>

                                <span class="popuptext" id="hora">Ingrese la Hora de en que se la Evaluacion.  .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dominio del tema(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{categoriapuesto}"/>-->
                                <select class="form-control"   th:field="*{dominiotema}">
                                      <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>

                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcion')" onmouseout ="javascript:ocultarAyuda('opcion')">a</a></b>

                                <span class="popuptext" id="opcion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Habilidades de comunicación(*):</label>
                            <div class="col-sm-6">

                                <select class="form-control"  th:field="*{habilidadcomunicacion}">
                                    <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>


                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('comunicacion')" onmouseout ="javascript:ocultarAyuda('comunicacion')">a</a></b>

                                <span class="popuptext" id="comunicacion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Llena sus espectativas(*):</label>
                            <div class="col-sm-6">

                                <select class="form-control"  th:field="*{espectativa}">
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('espectativa')" onmouseout ="javascript:ocultarAyuda('espectativa')">a</a></b>

                                <span class="popuptext" id="espectativa">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Contenido se desarrollo con claridad(*):</label>
                            <div class="col-sm-6">

                                <select class="form-control"  th:field="*{claridadtema}">
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('claridad')" onmouseout ="javascript:ocultarAyuda('claridad')">a</a></b>

                                <span class="popuptext" id="claridad">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Aclara dudas con precisión(*):</label>
                            <div class="col-sm-6">

                                <select class="form-control" th:field="*{alclaradudas}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('dudas')" onmouseout ="javascript:ocultarAyuda('dudas')">a</a></b>

                                <span class="popuptext" id="dudas">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mantiene el interes del tema(*):</label>
                            <div class="col-sm-6">

                                <select class="form-control" th:field="*{interestema}">
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('interes')" onmouseout ="javascript:ocultarAyuda('interes')">a</a></b>

                                <span class="popuptext" id="interes">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Satisface en el tema(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{nivelpuesto}"/>-->
                                <select class="form-control" th:field="*{satifacciondetema}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('satisfaccion')" onmouseout ="javascript:ocultarAyuda('satisfaccion')">a</a></b>

                                <span class="popuptext" id="satisfaccion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comprensión del tema(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{comprenciondetema}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('comprencion')" onmouseout ="javascript:ocultarAyuda('comprencion')">a</a></b>

                                <span class="popuptext" id="comprencion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Planeación del tiempo(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control"  th:field="*{planeaciontiempo}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('planeacion')" onmouseout ="javascript:ocultarAyuda('planeacion')">a</a></b>

                                <span class="popuptext" id="planeacion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Distribución del tiempo(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{distribuciontiempo}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('distribucion')" onmouseout ="javascript:ocultarAyuda('distribucion')">a</a></b>

                                <span class="popuptext" id="distribucion">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Contenido claro(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{contenidoclaro}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('claro')" onmouseout ="javascript:ocultarAyuda('claro')">a</a></b>

                                <span class="popuptext" id="claro">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">El contenido es aplicable a su trabajo(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{contenidoaplicadotrabajo}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>

                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnn')" onmouseout ="javascript:ocultarAyuda('opcionnn')">a</a></b>

                                <span class="popuptext" id="opcionnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Satisfecho con el contenido(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{satisfechocontenido}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Es necesaria la capacitación(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control"  th:field="*{necesariocapacitacion}" >
                                    <option value="0">-- Seleccione un opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">El equipo tecnologico es el adecuado(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control"  th:field="*{equipotecnologico}" >
                                    <option value="0">-- Seleccione un Opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Material usado fue el apropiado(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control"  th:field="*{materialutilizado}">
                                    <option value="0">-- Seleccione un Opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnnnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnnnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnnnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tiempo capacitación fue optimo(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control"  th:field="*{tiempocapacitacionoptimo}">
                                    <option value="0">-- Seleccione un Opción --</option>
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnnnnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnnnnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnnnnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Puntualidad fecha y hora(*):</label>
                            <div class="col-sm-6">
                                <!--<input type="text" class="form-control" th:field="*{sublinea}"/>-->
                                <select class="form-control" th:field="*{puntualidad}" >
                                    <option value="0">-- Seleccione un Opción --</option>
                                    <!--<option> </option>-->
                                     <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('opcionnnnnnnn')" onmouseout ="javascript:ocultarAyuda('opcionnnnnnnn')">a</a></b>

                                <span class="popuptext" id="opcionnnnnnnn">Seleccion Si o No segun sucriterio. .!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comentario o fugerencia(*):</label>
                            <div class="col-sm-7">

                                <input type="text" class="form-control" max="100" maxlength="100" required="true"  th:field="*{comentario}"/>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('comentario')" onmouseout ="javascript:ocultarAyuda('comentario')">a</a></b>

                                <span class="popuptext" id="comentario">Ingrese un comentario si lo desea. .!</span>
                            </div>
                        </div>




                    </div> 
                    <div class="col-md-12">
                        <div class="row" align="center">
                             <a href="#" th:href="@{/evaluacioncapacitaciones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                            <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>

                        </div>
                </form>
            </div> 


        </div>


    </div>
</div>
<div class="col-md-12">
    <th:block th:include="../templates/footer"></th:block>

</div>  
<script th:inline="javascript">
     Textheader('pnt_evca',document.title);
    $(document).ready(function () {
    if ([[${msg}]] === 0){
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../evaluacioncapacitaciones/';
    swal({
                text: "Redirigiendo a consulta de evaluacion capacitaciones",
                icon: "success"
                })
    });
    }

    if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }
    });</script>    
<script>
    $(document).ready(function () {
    $('#hra').datepicker({
//     format: 'DD-MM-YYYY HH:mm'
  dateFormat: 'dd/mm/yy 00:00:00'
    });
    $('#fechacapacitacionhasta').datepicker({
    dateFormat: 'dd/mm/yy'
    });
    });
    
</script>
<!--<script type="text/javascript">
$(function () {
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    var time = today.getHours() + ":" + today.getMinutes();
    var dateTime = date+' '+time;
    $("#horaevualuacioncapacitacion").datetimepicker({
        format: 'dd-mm-yy hh:ii',
        autoclose: true,
        todayBtn: true,
        startDate: dateTime
    });
});
</script>-->

</body>	
</html>