<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SISADMRH-Consulta de Datos de Misi&oacute;n</title>
     <th:block th:include="../templates/header"></th:block>
 

  
</head>
<body>
<!--       <div class="contenedorizq"><label  >pnt_cme</label>  
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->
<script> Textheader('pnt_cme',document.title);</script>
 <div class="row">
 <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/mision.png}"/>
            </div>
    <h3 align="center"></h3>
        <div>
            <form class="form-horizontal">
                 <div class="col-md-6">
                     <div class="form-group">
                    <label class="col-sm-5 control-label">Código:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.codigomision}">codigo de Mision</p></div>
                </div>
                     <div class="form-group">
                    <label class="col-sm-5 control-label">Tipo de Misi&oacute;n:</label>
                    <div class="col-sm-7">
                                <p class="form-control-static">  <span th:if="${mision.tipomision} == 0"  th:text="Externa"  ></span> <span th:if="${mision.tipomision} == 1"  th:text="Interna"></span>  </p>
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Nombre de Misi&oacute;n:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.nombremision}">Nombre de Mision</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Objetivo de Misi&oacute;n:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.objetivomision}">Objetivo de Mision</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Responsable Gasto:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.responsablegasto}">Responsable Gasto</p>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-sm-5 control-label">Viaticos de Mision:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.viaticos}">Responsable Gasto</p>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-sm-5 control-label">Gasto Viaje:</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" th:text="${mision.gastoviaje}">Responsable Gasto</p>
                    </div>
                </div>
                       <div class="form-group">
                    <label class="col-sm-7 control-label">Gastos Terminales</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.gastoterminales}">Gasto Viaje</p>
                    </div>
                </div>
                       <div class="form-group">
                    <label class="col-sm-7 control-label">Gastos Terminales</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.gastoterminales}">Gasto Viaje</p>
                    </div>
                </div>
                     
                  </div> 
                      <div class="col-md-6">
                         <div class="form-group">
                    <label class="col-sm-7 control-label">Fecha de Salida:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${#calendars.format(mision.fechasalidamision, 'dd/MM/yyyy')}">Fecha de Salida</p>
                    </div>
                </div>
                      <div class="form-group">
                    <label class="col-sm-7 control-label">Pasi:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.paisdestino}">Gasto Viaje</p>
                    </div>
                </div>
                      <div class="form-group">
                    <label class="col-sm-7 control-label">Organismo Patrocinador:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.organismopatrocinador}">Gasto Viaje</p>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-sm-7 control-label">Ciudad:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.ciudad}">Gasto Viaje</p>
                    </div>
                </div>
                             <div class="form-group">
                    <label class="col-sm-7 control-label">Fecha de Regreso</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${#calendars.format(mision.fechasalidamision, 'dd/MM/yyyy')}">Gasto Viaje</p>
                    </div>
                </div>
                          
                          <div class="form-group">
                    <label class="col-sm-7 control-label">Fecha de Acuerdo</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${#calendars.format(mision.fechaacuerdomision, 'dd/MM/yyyy')}">Gasto Viaje</p>
                    </div>
                </div>
                          
                           <div class="form-group">
                    <label class="col-sm-7 control-label">Boleto Aereo</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.boleto}">Gasto Viaje</p>
                    </div>
                </div>
                          
                           <div class="form-group">
                    <label class="col-sm-7 control-label">Boleto Terrestre:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.boletoterr}">Gasto Viaje</p>
                    </div>
                </div>
                          <div class="form-group">
                    <label class="col-sm-7 control-label">Cantidad de Dias</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.cantidaddia}">Gasto Viaje</p>
                    </div>
                </div> 
                          <div class="form-group">
                    <label class="col-sm-7 control-label">Cantidad de Meses:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${mision.cantidadmeses}">Gasto Viaje</p>
                    </div>
                </div>
               
                  </div> 
                
                
            </form>
            <div class="col-md-12">
            <div class="row" align="center">
                <!--<button type="submit" class="btn btn-default"><a href="#" th:href="@{/misiones/}">Regresar</a></button>-->
                	
<button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span>Regresar <a href="#" th:href="@{/misiones/}">.</a></button>
            </div>
    </div>
    </div>
</div>
      <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
     </div>

</body>
  <script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../comisiones/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
</html>