<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Crear beneficio</title>
  <th:block th:include="../templates/header"></th:block>
  
  </head>
  
<body>
   
     
       <div class="contenedorizq"> <label  >pnt_crbe</label> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-8">
          <div class="row text-center">
                        <img src="../../static/image/beneficios.png" width="200" th:src="@{/image/beneficios.png}"/>
                    </div>
        <h3 align="center">Formulario de Beneficios</h3>
  
  
    <div>
        <!--th:action="@{../beneficio}"-->
        <form class="form-horizontal" id="asignar" th:object="${beneficio}"   method="post">
            <!--<input type="hidden" th:field="*{codigobeneficio}" id="codben"/>-->
           <!--<span th:object="${empleado}">--> 
             <input type="hidden" id="codem"  />
          <!--</span>-->
            
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Codigo de Beneficio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{codigobeneficio}"/>
                </div>
            </div>-->
              <div class="form-group">
                        <label class="col-sm-3 control-label">Beneficios:</label>
                        <div class="col-sm-7" >
                            <select class="form-control"  th:field="*{codigobeneficio}" >
                                <option th:each="c:${beneficios}" th:value="${c.codigobeneficio}" th:text="${c.nombrebeneficio}"></option>
                            </select>
                        </div>
                        <div class="popup "><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('poppup5')" onmouseout ="javascript:ocultarAyuda('poppup5')">a</a></b>
                        
                        <span class="popuptext" id="poppup5">Seleccione el beneficio a asignar al Empleado desplegando la lista.!</span>
                    </div>
                    </div>
            


            

                <div class="col-md-12">
                        <div class="row" align="center">
                          
                            <!--<button type="button" class="btn btn-info"><a href="#" th:href="@{/empleados/}">Regresar</a></button>-->
                            <button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span>Regresar <a href="#" th:href="@{/empleados/}">.</a></button>
                            <button type="submit" class="btn btn-success" id="Asignarbtn"><span class="glyphicon glyphicon-floppy-disk"></span>Asignar</button>

                            <!--<button type="submit" class="btn btn-primary" id="Asignarbtn"  >Asignar</button>-->
                            <!--<button type="reset" class="btn btn-default">Limpiar</button>-->
                        </div>
                    </div>

<!--            <div class="row">
                <button type="submit" class="btn btn-default">Agregar</button>
            </div>-->
        </form>
    </div>
</div>
    </div>

</body>
<script>
    $(document).ready(function () {
        $('#fechainiciobeneficio').datepicker({
            dateFormat: 'yy-mm-dd'
        });

        $('#fechafinalizarbeneficio').datepicker({
            dateFormat: 'yy-mm-dd'
        });
       
    });
    
    $('#Asignarbtn').click(function(){
            $("#asignar").attr('action', '../beneficio/asignar/'+ $("#codem").val().toString());
            $("form#asignar").submit();
            
        });
        

    
</script>

        <script>       
            var URLactual = window.location.href;
                if (URLactual.includes("edit")){
//                    alert("str");
                }
                else{
//                    alert("str1");
var str =URLactual.substring(URLactual.indexOf("asignar")+8,URLactual.length);
//alert(str);
$(function () {
          document.getElementById("codem").value = str;
      });}
	</script>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../beneficios/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
</html>
