<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Crear beneficios</title>
  <th:block th:include="../templates/header"></th:block>
  
  </head>
  
<body>
   
     

<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-9">
          <div class="row text-center">
                        <img src="../../static/image/beneficios.png" width="75" th:src="@{/image/beneficios.png}"/>
                    </div>
      
  
  
    <div>
        <form class="form-horizontal" th:object="${beneficio}" th:action="@{../beneficio}" method="post">
            <input type="hidden" th:field="*{codigobeneficio}"/>
  
          <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de beneficio(*):</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" required="true" size="30" maxlength="30" th:field="*{nombrebeneficio}"/>
                </div>
              <div class="popup"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('nombre')" onmouseout ="javascript:ocultarAyuda('nombre')">a</a></b>
                        
                        <span class="popuptext" id="nombre">Ingrese el Nombre del Beneficio solo se admitiran 30 caracteres.!</span>
                    </div>
                 </div>
              
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripción beneficio(*):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" size="100" maxlength="100" required="true" th:field="*{descripcionbeneficio}"/>
                
                </div>
              <div class="popup"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('descripcion')" onmouseout ="javascript:ocultarAyuda('descripcion')">a</a></b>
                        
                        <span class="popuptext" id="descripcion">Ingrese la Descripcion del beneficio, solo se admitiran 100 caracteres.!</span>
                    </div>
                 </div>
                  
<div class="form-group">
                <label class="col-sm-2 control-label">Fecha de inicio(*):</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control fecha_format" name="fdesde" id="fdesde"  required="true" th:field="*{fechainiciobeneficio}"onchange="isDat(this.value,'fdesde');Fechas(this.value,$('#fhasta').val().toString(),'fdesde','fhasta')"/>
                </div>
               <div class="popup"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechainicio')" onmouseout ="javascript:ocultarAyuda('fechainicio')">a</a></b>
                        
                        <span class="popuptext" id="fechainicio">Seleccione la Fecha Desde, dando clic  en el control.!</span>
                    </div>
                 </div>
 
<div class="form-group">
                <label class="col-sm-2 control-label">Fecha de finalización(*):</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control fecha_format" name="fhasta" id="fhasta" required="true" th:field="*{fechafinalizarbeneficio}"onchange="isDat(this.value,'fhasta');Fechas($('#fdesde').val().toString(),this.value,'fdesde','fhasta')"/>
                </div>
              <div class="popup"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechafin')" onmouseout ="javascript:ocultarAyuda('fechafin')">a</a></b>
                        
                        <span class="popuptext" id="fechafin">Seleccine la fecha, dando un clic en el control!</span>
                    </div>
                 </div>
            

<div class="col-md-12">
                        <div class="row" align="center">
                            <a href="#" th:href="@{/beneficios/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>
                            <button type="submit" onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                            <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                            
                           
                            <!--<button type="button" class="btn btn-success">  <span class="glyphicon glyphicon-plus-sign"></span> Agregar</button>-->
                            
  <!--</button>-->  
                        </div>
                    </div>

<!--            <div class="row">
                <button type="submit" class="btn btn-default">Agregar</button>
            </div>-->
        </form>
    </div>
</div>
    </div>
   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
</body>
<script>
        function Fechas(val1,val2,val3,val4){
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
    $(document).ready(function () {
        $('#fdesde').datepicker({
              dateFormat: 'dd/mm/yy'
        });

        $('#fhasta').datepicker({
             dateFormat: 'dd/mm/yy'
        });
       
    });
    			
</script>

</body>
<script th:inline="javascript">
     Textheader('pnt_crbe',document.title);
    $(document).ready(function () {
    if([[${msg}]]===0){
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../beneficios/';
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script> 
</html>
