<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Detalle de Beneficios</title>
     <th:block th:include="../templates/header"></th:block>
 

  
</head>
<body>
<div class="row">
     <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
     <div class="col-md-9">
          <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="75" th:src="@{/image/images.jpeg}"/>
                    </div>
    
        <div>
            <form class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Código Beneficio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.codigobeneficio}">Usuario Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre beneficio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.nombrebeneficio}">Nombre</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción Beneficio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${beneficio.descripcionbeneficio}">descripcion</p>
                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha de inicio beneficio:</label>
                    <div class="col-sm-10">
                         <p class="form-control-static" th:text="${#calendars.format(beneficio.fechainiciobeneficio, 'dd/MM/yyyy')}">Fecha fin</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fecha fin beneficio:</label>
                    <div class="col-sm-10">
                         <p class="form-control-static" th:text="${#calendars.format(beneficio.fechafinalizarbeneficio, 'dd/MM/yyyy')}">Fecha fin</p>
                    </div>
                </div>
                
            </form>
            <div class="col-md-12">
                    <div class="row" align="center">
                       <a href="#" th:href="@{/beneficios/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                    </div>
                </div>
            
    </div>
</div>
    </div>

</body>
<script>
    $(document).ready(function () {
         Textheader('pnt_bene',document.title);
       
    });
    </script>
</html>