<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <link th:href="@{/css/login.css}" rel="stylesheet" media="screen"/>
        <title>SISADMRH-Login</title>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/Style1.css" th:href="@{/css/Style1.css}" rel="stylesheet" media="screen"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores2.js}"></script>
        <script type="text/javascript"  th:src="@{/js/script.js}"></script>
        <!--<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>-->
        <script type="text/javascript" th:src="@{/js/validacion_todores3.js}"></script>
        <script type="text/javascript" th:src="@{/js/helpJs.js}"></script>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="shortcut icon" type="../../static/image/favicon.png"   th:href="@{/image/favicon.png}"//>
	
		
</head>
<body>
    <div class="row">
                   <div  class="col_izq" >
                         <div class="row text-center">
                        <img src="../../static/image/gob.png"  th:src="@{/image/gob.png}"/>
                    </div>
                   </div>
                   <div class="col_cen">
                         <div class="text-center">
                       
                            <h2 class="h2mod">Ministerio de Justicia y Seguridad Publica <br>
                            Direccion de Recursos Humanos<br>
                            SISADMRH</h2>
                       
                    </div>
                   </div>
                   <div class="col_der">
                         <div class="row text-center" align="center">
                             <img src="../../static/image/mjsp.png"  th:src="@{/image/mjsp.png}" />
                    </div>
                   </div>
                </div>
    <br>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <div class="row text-center" align="center">
            <img src="../../static/image/login.jpg"  th:src="@{/image/login.png}" />
        </div>
        <h2 class="h2mod">Introduzca nombre de usuario y contraseña:</h2>
        <div class="inset">
            
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">
                ACCESO NO PERMITIDO!!!<br />
                Razon :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                    Static summary
                </span>

            </div>
              <div class="form-group" align="center">
                   <label for="username" class="col-sm-2 control-label">USUARIO</label>
              
               <div class="col-sm-9">
                    <input type="text"  name="username" id ="username">
                </div>
            <!--<label for="username">USUARIO</label>-->
            
<!--            <div class="popup col-sm-1"><b>
                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('rol')" onmouseout ="javascript:ocultarAyuda('rol')">a</a></b>

                <span class="popuptext" id="rol">Ingrese su Usuario !!</span>
            </div>-->
            </div>
             <div class="form-group" align="center">
            <label for="password">CONTRASEÑA</label>
            <div class="col-sm-9">
               <input type="password" name="password" id="password">
            </div>
              
<!--            <div class="popup col-sm-1"><b>
                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('rol')" onmouseout ="javascript:ocultarAyuda('rol')">a</a></b>

                <span class="popuptext" id="rol">Ingrese su Usuario !!</span>
            </div>-->
             </div>
            </div>
        <p class="p-container">
           <input name="submit" type="submit" value="Login" />
        </p>
      </form>
   <div class="col-md-12">
            <footer class="footerl">
      <div class="container" align="center">
        <span class="fotmod"> Derechos Reservados UES/FIA/EISI.</span>
      </div>
    </footer>
   </div>
    
</body>

</html>