<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <link th:href="@{/css/login.css}" rel="stylesheet" media="screen"/>
        <title>Login</title>
</head>
<body>
    <div class="row">
                   <div  class="col_izq" >
                         <div class="row text-center">
                        <img src="../../static/image/gob.png" width="200" th:src="@{/image/GOES.jpg}"/>
                    </div>
                   </div>
                   <div class="col_cen">
                         <div class="text-center">
                       
                            <h2 class="h2mod">Ministerio de Justicia y Seguridad Publica <br>
                            Direccion de Recursos Humanos<br>
                            SISADMRH</h2>
                       
                    </div>
                   </div>
                   <div class="col_der">
                         <div class="row text-center" align="center">
                             <img src="../../static/image/mjsp.png" width="210" th:src="@{/image/LOGOMJ.jpg}" />
                    </div>
                   </div>
                </div>
    <br>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <div class="row text-center" align="center">
            <img src="../../static/image/login.jpg" width="150" th:src="@{/image/login4.png}" />
        </div>
        <h2 class="h2mod">Introduzca nombre de usuario y contraseña:</h2>
        <div class="inset">
            
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">
                ACCESO NO PERMITIDO!!!<br />
                Razon :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                    Static summary
                </span>

            </div>
            <label for="username">USUARIO</label>
            <input type="text"  name="username" id ="username">
            <label for="password">CONTRASEÑA</label>
            <input type="password" name="password" id="password">
             </div>
        <p class="p-container">
           <input name="submit" type="submit" value="Login" />
        </p>
      </form>
   <div class="col-md-12">
            <footer class="footer">
      <div class="container" align="center">
        <span class="fotmod"> Derechos Reservados UES/FIA/EISI.</span>
      </div>
    </footer>
   </div>
    
</body>

</html>