<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div th:fragment="menu">
            <nav class="sidebar-nav navbar navbar-inverse sidebar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a  href="#" th:href="@{/}">Inicio<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/usuarios/}">Gestionar Usuarios</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/usuarios/new/usuario}">Crear Usuario</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/roles/}">Gestionar Roles</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/roles/new/rol}">Crear Rol</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/usuariosroles/}">Consultar Roles Asignados</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/usuariosroles/new/usuariorol}">Asignar Roles</a></li>
                                </ul>
                            </li> 
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/archivos/}">Carga de Archivos Fuentes<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Beneficios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')">
                                        <a href="#" th:href="@{/beneficios/new/beneficio}">Crear Beneficios</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')">
                                        <a href="#" th:href="@{/beneficios/}">Gestionar Beneficios</a></li>
                                </ul>
                            </li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cuadros Directivos <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')">
                                        <a href="#" th:href="@{/cuadrodirectivos/new/cuadrodirectivo}">Crear Cuadros Directivos</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')">
                                        <a href="#" th:href="@{/cuadrodirectivos/}">Gestionar Cuadros Directivos</a></li>
                                </ul>
                            </li>
                               <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Asistencias Capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/asistenciacapacitaciones/new/asistenciacapacitacion}">Crear Asistencias Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/asistenciacapacitaciones/}">Gestionar Asistencias <br>de Capacitaciones</a></li>
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/empleadoasistenciacapacitaciones/new/empleadoasistenciacapacitacion}">Asignar Asistencia de Empleado <br> a Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/empleadoasistenciacapacitaciones/}">Consultar EmpleadoCapacitaciones</a></li>
                                </ul>
                            </li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <!--<li><a href="#" th:href="@{/capacitaciones/buscar/}">Buscar Capacitaciones</a></li>-->
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')">
                                        <a href="#" th:href="@{/capacitaciones/new/capacitacion}">Crear Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" >
                                        <a href="#" th:href="@{/capacitaciones/}">Gestionar Capacitaciones</a></li>
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')">
                                        <a href="#" th:href="@{/empleadocapacitaciones/new/empleadocapacitacion}">Asignar Capacitaciones a Empleados</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" >
                                        <a href="#" th:href="@{/empleadocapacitaciones/}">Consultar Capacitaciones Asignadas</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Capacitadores <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/capacitadores/new/capacitador}">Crear Capacitadores</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" ><a href="#" th:href="@{/capacitadores/}">Gestionar Capacitadores</a></li>
                                    <!--li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" ><a href="#" th:href="@{/otherreports/capacitadores/}">Reporte Capacitador</a></li-->
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Costos <br>de capacitaciones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/costocapacitaciones/new/costocapacitacion}">Crear Costo Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/costocapacitaciones/}">Gestionar Costo Capacitaciones</a></li>
                                    <!--li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/costocapacitaciones/report/}">Reporte de Costo de Capacitaciones</a></li-->
                                </ul>
                            </li>
                         
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diagnosticos <br> de Capacitaciones<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/diagnosticocapacitaciones/new/diagnosticocapacitacion}">Crear Diagnosticos</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/diagnosticocapacitaciones/}">Gestionar diagnosticos</a></li>
                               </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluaciones <br> de Capacitaciones<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/evaluacioncapacitaciones/new/evaluacioncapacitacion}">Crear Evaluación Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/evaluacioncapacitaciones/}">Gestionar Evaluciones Capacitaciones</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comit&eacute;s <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/comites/new/comite}">Crear comit&eacute;s</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/comites/}">Gestionar comit&eacute;s</a></li>
                                    <!--li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/comites/}">Reporte de comit&eacute;s</a></li-->
                                </ul>
                            </li>
                            
                             <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Descuentos de empleado<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/descuentos/new/descuento}">Crear Descuentos de empleado</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" ><a href="#" th:href="@{/descuentos/}">Gestionar Descuentos de empleado</a></li>
                                    <!--li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" ><a href="#" th:href="@{/otherreports/capacitadores/}">Reporte Capacitador</a></li-->
                                </ul>
                            </li>
<!--                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Niveles Escolares  <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
                                    <span class="glyphicon glyphicon-education"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/nivelescolaridades/new/nivelescolaridad}">Crear Niveles Escolares</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/nivelescolaridades/}">Gestionar Niveles Escolares</a></li>
                                </ul>
                            </li>-->
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Incapacidades <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#"  th:href="@{/incapacidades/new/incapacidad}"> Crear Incapacidades</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/incapacidades/}">Gestionar Incapacidades</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comisiones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/comisiones/new/comision}">Crear Comisiones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/comisiones/}">Gestionar Comisiones</a></li>
                                    <!--li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/comisiones/reporte/comision}">Reporte de Comisiones</a></li-->
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inasistencias <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/inasistencias/new/inasistencia}">Crear Inasistencias</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/inasistencias/}">Gestionar Inasistencias</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Puestos de Trabajo<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/puestos/new/puesto}">Crear Puesto de Trabajo</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/puestos/}">Gestionar Puestos de Trabajo</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Misiones <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/misiones/new/mision}">Crear Misiones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/misiones/}">Gestionar Misiones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/misiones/asignar/mision}">Asignar Misi&oacute;n a Empleados</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/misiones/list/mision}">Gestionar Listado de <br> Misiones Asignadas</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empleados <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/empleados/new/empleado}">Crear Empleados</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/empleados/}">Gestionar Empleados</a></li>
                               </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elementos<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_OPERATIVO')"><a href="#" th:href="@{/estados/new/estado}">Crear Elementos</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/estados/}">Gestionar  Elementos</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bitacora<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/bitacoras/}">Consultar Bit&aacute;cora</a></li>
                                </ul>
                            </li>
                             <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes Administrativos<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/otherreports/bitacoras/}"> Reporte de Bitacora</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/otherreports/usuariorep/}">Reporte de usuarios</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasRole('ROLE_ESTRATEGICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes Estrat&eacute;gicos<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                                          <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/bitacoras/}">22. Reporte de Bitacora</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/estadisticoactivos/}">23. Reporte de Estadistico <br> de Personal Activo</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/historial/}">24. Reporte de Historial Laboral</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/renuncias/}">25. Reporte de Renuncias</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/evaluacioncap/}">26. Reporte de Evaluacion <br>de Capacitaciones</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/despidos/}">27. Reporte de Despidos</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/misionesinternas/}">28. Reporte de Misiones Internas</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/1misionesexternas/}">29. Reporte de Misiones Externa 1</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/2misionesexternas/}">30. Reporte de Misiones Externa 2</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/puestocaducarreport/}">31. Reporte Puestos a Caducar</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/contrataciones/}">32. Reporte Contrataciones</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/constanciaservicios/}">33. Constancia de Servicios</a></li>
                                    <li sec:authorize="hasRole('ROLE_ESTRATEGICO')"><a href="#" th:href="@{/otherreports/constanciasalariales/}">34. Constancias Salariales</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasRole('ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes T&aacute;cticos<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/reporte/pensionadoreporte}">13. Reporte de Personal Pensionado</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/exoneradoreporte/}">14. Reporte de Personal Exonerado <br>de Marcaci&oacute;n</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/beneficios/report/}">15. Reporte de Beneficios</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/plazasocupadas/}">16. Reporte Plazas Ocupadas</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/indemnizados/}">17. Reporte de Personal Indemnizado</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/empleadoincapacidad/}">18. Reporte de Empleados   <br> con Incapacidad</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/capacitadores/}">19. Reporte Capacitador</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/capacitaciones/}">20. Reporte de Capacitaciones</a></li>
                                    <li sec:authorize="hasRole('ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/costocreporte/}">21. Reporte de costos de Capacitacion</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes Operativos<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu forAnimate" role="menu">
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/abogados/}">1. Reporte de Abogados</a></li>
<!--                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/bitacoras/}">2. Reporte de Bit&aacute;cora</a></li>-->
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/hijoscapesp/}">2. Reporte de Empleados con Hijos <br> con Capacidades Especiales</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/historial/}">3. Reporte de Historial Laboral</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/motoristas/}">4. Reporte de Motoristas</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/notarios/}">5. Reporte de Notarios</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/comites/}">6. Reporte de comit&eacute;s</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/comisiones/}">7. Reporte de comisiones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/capacitaciones/}">8. Reporte de Capacitaciones</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/cumpleanieros/}">9. Reporte de Cumpleañeros</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/temasdiagnosticos/}">10. Reporte de Temas de Diagnostico</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/estadisticocapacitados/}">11. Reporte de Estadistico de <br>  Personal Capacitado</a></li>
                                    <!--<li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/cuadrodirectivos/report/}">12. Reporte de Cuadro Directivo</a></li>-->
                                    <li sec:authorize="hasAnyRole('ROLE_OPERATIVO','ROLE_TACTICO')"><a href="#" th:href="@{/otherreports/nivelesreporte/}">12. Reporte de Niveles Escolares</a></li>
                                </ul>
                            </li>
                            <li class="active"><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Cerrar Sesión<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="main">
            </div>
        </div>
    </body>
</html>
