<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Listado de  cuadros directivos</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
            <div class="row text-center">
                <img src="../../static/image/cuadros.png" width="75" th:src="@{/image/cuadros.png}"/>
            </div>
            <div th:if="${not #lists.isEmpty(cuadrodirectivos)}">
                <table id="tablita" class="table table-striped">
                    <thead> 
                        <tr>
                            <th>Código cuadro directivo</th>
                            <th>Responsable directo</th>
                            <th>Área a que pertenece</th>
                            <th>Descripción del motivo</th>
                            <th>Fecha presentación desde</th>
                            <th>Fecha presentación hasta</th>
                            <th></th>
                            <th sec:authorize="hasRole('ROLE_OPERATIVO')"></th>
                            <th sec:authorize="hasRole('ROLE_OPERATIVO')"></th>
                        </tr>
                    </thead>
                    <tr th:each="cuadrodirectivo : ${cuadrodirectivos}">
                        <td align="center" th:text="${cuadrodirectivo.codigocuadrodirectivo}">Codigo</td>
                        <td th:text="${cuadrodirectivo.codigoempleado.nombreempleado}">area</td>
                        <td th:text="${cuadrodirectivo.area}">area</td>
                        <td th:text="${cuadrodirectivo.desripcioncuadrodirectivo}">Descripcion</td>
                        <td th:text="${#calendars.format(cuadrodirectivo.fechapresentaciondesde, 'dd/MM/yyyy')}">F. Presentacion Desde</td>
                        <td th:text="${#calendars.format(cuadrodirectivo.fechapresentacionhasta, 'dd/MM/yyyy')}">F. Presentacion Hasta</td>
                        <td><a th:href="${'./show/' + cuadrodirectivo.codigocuadrodirectivo}" class="btn btn-info">Mostrar</a></td>
                        <td sec:authorize="hasRole('ROLE_OPERATIVO')"><a th:href="${'./edit/' + cuadrodirectivo.codigocuadrodirectivo}" class="btn btn-success">Editar</a></td>
                        <td sec:authorize="hasRole('ROLE_OPERATIVO')"><a class="btn btn-danger" th:onclick="'eliminar(\'' + ${cuadrodirectivo.codigocuadrodirectivo} + '\');'" >Eliminar</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    Textheader('pnt_crcd', document.title);
    $(document).ready(function () {
    $('#tablita').DataTable({
    "language": {
    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }});
    });</script>
<script th:inline="javascript">
    $(document).ready(function () {

    if ([[${msg}]] === 0){
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../cuadrodirectivos/';
    swal({
                text: "Redirigiendo a consulta de cuadro directivos",
                icon: "success"
                })
    });
    }

    if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }
    });</script> 

<script th:inline="javascript">
    $(document).ready(function () {
    if ([[${msg}]] === 3){
    swal({

    title: "Exito!",
            text: "Registro Eliminado correctamente",
            type: "success",
            icon: "success",
    }).then(function() {
    location.href = '../../roles/';
    });
    }

    if ([[${msg}]] === 4){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error al eliminar el registro",
            type: "error",
            icon: "error"
    });
    }
    });
    function eliminar(id) {
    swal({
    title: "Desea Eliminar?",
            text: "Favor confirme que desea eliminar este registro!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
    })
            .then((willDelete) => {
            if (willDelete) {
            location.href = './delete/' + id;
            } else {
            swal("Accion cancelada", "Se ha cancelado la operacion de eliminado", "error");
            }
            });
    }
</script>
</html>