<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
     <th:block th:include="../templates/header"></th:block>
    <title>Listado de capacitaciones</title>
</head>
<body>
    <script> Textheader('pnt_ceca',document.title);</script>
    <div>
       <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
              <br><br>
          <div class="row text-center">
                    <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/capacitacion.jpg}"/>
            </div><br>
           <form class="form-horizontal" id="formp" >    
      <table id="tablita" class="table table-striped table-bordered" >
                    <thead>
            <tr>
                <th>Código capacitación</th>
                <th> Nombre de capacitación</th>
                <th>Descripción  capacitación</th>
                <th>Categoría  capacitación</th>
                <th>Descripción categoría de capacitación</th>
                <th>Departamento responsable capacitación</th>
                <th>Duración de capacitación en horas</th>
                <th>Duración de capacitación en días</th>
                <th>Patrocinador capacitación</th>
                <th>Tipo de evento capacitación</th>
                <th>Especialidad capacitación</th>
                <th>Pais de realización capacitación</th>
                <th>Fecha  de inicio de capacitación </th>
                <th>Fecha  fin  capacitación </th>
                <th>Tipo  de capacitación</th>
                <!--<th>Estado de  Capacitación</th>-->
                <th>Nombre del  capacitador</th>
                <th></th>
                <th sec:authorize="hasRole('ROLE_OPERATIVO')"></th>
                <th sec:authorize="hasRole('ROLE_OPERATIVO')"></th>
            </tr>
                    </thead>
            <tr th:each="capacitacion : ${capacitaciones}">
                <td th:text="${capacitacion.codigocapacitacion}">Codigo</td>
                <td th:text="${capacitacion.nombrecapacitacion}">Nombre</td>
                <td th:text="${capacitacion.descripcioncapacitacion}">Descripcion</td>
                <td th:text="${capacitacion.categoriacapacitacion}">Categoria</td>
                <td th:text="${capacitacion.descripcioncategoria}">Descripcion Cat</td>
                <td th:text="${capacitacion.departamentoresponsable}">Departamento Res</td>
                <td th:text="${capacitacion.duracionhoracapacitacion}">N horas</td>
                <td th:text="${capacitacion.duraciondiacapacitacion}">N Dias</td>
                <td th:text="${capacitacion.organismopatrocinador}">Patrocinador</td>
                <td th:text="${capacitacion.tipoevento}">Tipo Evento</td>
                <td th:text="${capacitacion.especialidadevento}">Especialidad</td>
                <td th:text="${capacitacion.paiscapacitacion}">Pais Capacitacion</td>
                <td th:text="${#calendars.format(capacitacion.fechacapacitaciondesde, 'dd/MM/yyyy')}">Fecha Desde</td>
                <td th:text="${#calendars.format(capacitacion.fechacapacitacionhasta, 'dd/MM/yyyy')}">Fecha Desde</td>
                <td th:text="${capacitacion.tipocapacitacion}">Tipo Capacitacion</td>
                <!--<td th:text="${capacitacion.estadocapacitacion}">Estado Capacitacion</td>-->
                <td th:text="${capacitacion.codigocapacitador.nombrecapacitador}">Nombre Capacitador</td>
                <!--<td><a th:onclick="'javascript:CrearLista(\'' + ${capacitacion.codigocapacitacion} + '\');'" type="submit" class="btn btn-warning">Crear Lista de Asistencia</a></td>-->
                <td><a th:href="${'./show/' + capacitacion.codigocapacitacion}" class="btn btn-info">Mostrar</a> </td>
                <td sec:authorize="hasRole('ROLE_OPERATIVO')"><a th:href="${'./edit/' + capacitacion.codigocapacitacion}" class="btn btn-success">Editar</a> </td>
                <td sec:authorize="hasRole('ROLE_OPERATIVO')"><a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${capacitacion.codigocapacitacion} + '\');'" >Eliminar</a> </td>
            </tr>
        </table>
            </form>   
        </div>
            <div class="col-md-12">
                    <th:block th:include="../templates/footer"></th:block>
                </div>
    </div>  
    </div>
   
   <script th:inline="javascript">
       
       
       function CrearLista(value) {
//        alert("codigoassitencia:" +"codigoempleado:"+value);
        
        $("#formp").attr('action', '../asistenciacapacitaciones/new/asistenciacapacitacion/'+value);
//         $("#formp").attr('action', '../asistenciacapacitaciones/'+value);
//            $("#formempasis").attr('action', '../empleadoasistenciacapacitacion/');
        $("form#formp").submit();
      }
       
      $(document).ready(function () {
            $('#tablita').DataTable( {
        "language": {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}} );
    });
	</script>
   
     <script th:inline="javascript">
       
    if([[${msg}]]===3){
       swal({
           
                title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
       }).then(function() {
                location.href = '../../capacitaciones/';
                swal({
       text: "Redirigiendo a consulta de capacitaciones",
       icon: "success"
    })
       }); 
}
    
    if([[${msg}]]===4){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
       });
    }

        
        function eliminar(id) {
            swal({
                title: "Desea Eliminar?",
                text: "Favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = './delete/' + id;
                        } else {
                            swal("Accion cancelada", "Se ha cancelado la operacion de eliminado", "error");
                        }
                    });
        }
    </script>
    <script th:inline="javascript">
    $(document).ready(function () {
        
        
    if([[${msg}]]===0){
                   
       swal({
                title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
       }).then(function() {
                location.href = '../capacitaciones/';
                
       }); 
}
    
    if([[${msg}]]===1){
        swal({
                title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
       });
    }
    });
</script>    

</body>
</html>