<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Asignar asistencia de capacitaciones a empleados</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
  
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
            <br><br>
            <div class="row text-center">
                <img src="../../static/image/agregarusuario.png" width="75" th:src="@{/image/agregarusuario.png}"/>
            </div>
            <!--<h3 align="center">Asignar empleados a Capacitaciones</h3>-->
            <div>
                <form class="form-horizontal" id="formempasis" th:object="${formasistenciaempleadocapacitacion}" th:action="@{../empleadoasistenciacapacitaciones}" method="post" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre empleado:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="empleado.codigoempleado" id="empleado" >
                                <option th:each="c:${formasistenciaempleadocapacitacion.empleados}" th:value="${c.codigoempleado}" th:text="${c.nombreempleado}+', '+${c.apellidoempleado}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre Capacitación:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="asistenciacapacitacion.codigoasistenciacapacitacion" id="asistencia" >
                                <option th:each="c:${formasistenciaempleadocapacitacion.asistenciacapacitaciones}" th:value="${c.codigoasistenciacapacitacion}" th:text="${c.codigocapacitacion.nombrecapacitacion}"></option>
                        </select>
                        </div>
                    </div>
<!--                     <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre de Ubiacio Fisica:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="ubicacionfisica.codigoubicacion" id="asistencia" >
                                <option th:each="c:${formasistenciaempleadocapacitacion.ubicacionesfisicas}" th:value="${c.codigoubicacion}" th:text="${c.codigoubicacion.nombreubicacion}"></option>
                        </select>
                        </div>
                    </div>-->
                     <div class="col-md-12">
                        <div class="row" align="center">
                              <a href="#" th:href="@{/empleadoasistenciacapacitaciones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                             <button type="submit" class="btn btn-default" id="btnGuardar">Agregar</button>
                             <!--<button type="submit" onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></button>-->
                            <button type="reset" class="btn btn-default">Limpiar</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
       <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
 </body>
<script>
     Textheader('pnt_eaca', document.title);
    $(document).ready(function () {
    $('#fechaingreso').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechacaducidad').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechabaja').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    
     $('#btnGuardar').click(function(){
//         alert($("#asistencia").val().toString());          
            $("#formempasis").attr('action', '../empleadoasistenciacapacitacion/'+ $("#asistencia").val()+"/"+$("#empleado").val());
//            $("#formempasis").attr('action', '../empleadoasistenciacapacitacion/');
            $("form#formempasis").submit();
    });

   });

</script>
 </body>
<script th:inline="javascript">
    $(document).ready(function () {
    if ([[${msg}]] === 0){
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../empleadocapacitaciones/';
    swal({
                text: "Redirigiendo a consulta de empleados",
                icon: "success"
                })
    });
    }
     if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }
    });
</script> 
 </html>