<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Consulta de asistencias de empleados a capacitaciones</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <script> Textheader('pnt_ceac',document.title);</script>
<div class="row">
 <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
         <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="75" th:src="@{/image/images.jpeg}"/>
                    </div>
        <!--<h3 align="center">Asistencia capacitacion de empleados</h3>-->
    <div th:if="${not #lists.isEmpty(empleadoasistenciacapacitaciones)}">
        <div class="table-responsive">
  <table class="table">
        <!--<table class="table table-striped">-->
            <tr>
                <th>Nombre de empleado</th>
                <th>Capacitación</th>
               
                
            </tr>
            <tr th:each="empleadoasistenciacapacitacion : ${empleadoasistenciacapacitaciones}">
                <td th:text="${empleadoasistenciacapacitacion.empleado.nombreempleado}">Codigo</td>
                <td th:text="${empleadoasistenciacapacitacion.asistenciacapacitacion.ubicacionasistenciacapacitacion}">Codigo</td>
                <!--<td><a th:href="${'./delete/' + usuario.codigousuario}" class="btn btn-danger">Delete</a></td>-->
            </tr>
        </table>
    </div>
</div>
    </div>
    </div>
</body


    <script th:inline="javascript">
       
           $(document).ready(function () {
        if ([[${msg}]] === 3){
        swal({

        title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
        }).then(function() {
        location.href = '../../empleadoasistenciacapacitacion/';
        });
        }

        if ([[${msg}]] === 4){
        swal({
        title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
        });
        }
        });
        function eliminar(id) {
        swal({
        title: "Desea Eliminar?",
                text: "Favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
        })
                .then((willDelete) => {
                if (willDelete) {
                location.href = './delete/' + id;
                } else {
                swal("Accion cancelada", "Se ha cancelado la operacion de eliminado", "error");
                }
                });
        }
          
    </script>
</html>
