<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Detalle de Descuento de empleado </title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <div class="row text-center">                <br>
                <img src="../../static/image/roles.png" width="75" th:src="@{/image/roles.png}"/>
            </div>
            <div>
                <br>
                <form class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Código de descuento</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${descuento.codigodescuento}">Codigo de comite</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Nombre empleado:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${descuento.codigoempleado.nombreempleado}+', '+${descuento.codigoempleado.nombreempleado}">Responsable</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Nombre del descuento</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${descuento.nombredescuento}">Nombre de comite</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Tipo banco:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${descuento.tipobanco}">Desripción de Comite</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Monto descuento:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${#numbers.formatDecimal(descuento.montodescuento, 0, 'COMMA', 2, 'POINT')}">Responsable Gasto</p>
                            </div>
                        </div>
                    </div> 
                </form> 
                
            </div>
            
        </div>
        <div class="col-md-12">
                    <div class="row" align="center">
                        <a href="#" th:href="@{/descuentos/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>    
                    </div>
                </div>
    </div>
    <div class="col-md-12">
        <th:block th:include="../templates/footer"></th:block>
    </div>
    
</body>
<script>
    Textheader('pnt_crco', document.title);
</script>
</html>