<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">

        <title>Crear Comite</title>
    <th:block th:include="../templates/header"></th:block>

</head>
<body>
    <script> Textheader('pnt_crco',document.title);</script>
<!--    <div class="contenedorizq"><label  >pnt_crco</label>  
        <label  class="der">
            <script >
                var f = new Date();
                document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());
            </script></label>
    </div><br>-->
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div> 
        <div class="col-md-8">
            <br><br>
            <div class="row text-center">
                <img src="../../static/image/roles.png" width="150" th:src="@{/image/roles.png}"/>
                <!--<h3 align="center" >Crear Comite</h3>-->
                <div>
                    <form class="form-horizontal" onsubmit="return validateForm()" th:object="${comite}" th:action="@{../comite}" method="post">
                                  <input type="hidden" th:field="*{codigocomite}"/>
                        <!--  <input type="hidden" th:field="*{nombrecomite}"/>-->
                      
                       
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre de Comite:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" size="30" maxlength="30" required="true" placeholder="Escriba El nombre del Comite"  th:field="*{nombrecomite}"/>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('nombre')" onmouseout ="javascript:ocultarAyuda('nombre')">a</a></b>

                                <span class="popuptext" id="nombre">Ingrese el nombre del Comite. Solo se permiten 30 caracteres!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Responsable del Comite:</label>
                            <div class="col-sm-5">
                                <select class="form-control" th:field="*{codigoempleado.codigoempleado}" >
                                    <option th:each="c:${empleados}" placeholder="Seleccione El Responsable del Comite" th:value="${c.codigoempleado}" th:text="${c.nombreempleado}+', '+${c.apellidoempleado}"></option>
                                </select>
                                <!--<input type="number" class="form-control" th:field="*{codigoempleado.codigoempleado}"/>-->
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('encargadocmite')" onmouseout ="javascript:ocultarAyuda('encargadocmite')">a</a></b>

                                <span class="popuptext" id="encargadocmite">Seleccione el encargado del Comite.!</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label ">Descripción:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"required="true" size="100" maxlength="100" placeholder="Escriba la Descripcion del comite" th:field="*{desripcioncomite}"/>
                            </div>
                             <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('descripcionn')" onmouseout ="javascript:ocultarAyuda('descripcionn')">a</a></b>

                                <span class="popuptext" id="descripcionn">Seleccione el encargado del Comite.!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Numero de Acuerdo:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control numeros" required="true" placeholder="Escriba solo Numeros Positivos"  th:field="*{numeroacuerdocomite}"/>
                            </div>
                            <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('acuerdo')" onmouseout ="javascript:ocultarAyuda('acuerdo')">a</a></b>

                                <span class="popuptext" id="acuerdo">Ingrese el Numero de Acuerdo. Solo es permitido la combinacion de los dititos del 0 al 9.!</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Miembros maximos:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control numeros" required="true" placeholder="Escriba solo Numeros Positivos"  th:field="*{miembromaximo}"/>
                            </div>
                             <div class="popup col-sm-1"><b>
                                    <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('miembros')" onmouseout ="javascript:ocultarAyuda('miembros')">a</a></b>

                                <span class="popuptext" id="miembros">Ingrese el Numero de Acuerdo. Solo es permitido la combinacion de los dititos del 0 al 9.!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Desde:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control fecha_format"  placeholder="DD/MM/YYYY" required="true" th:field="*{fechadesdecomite}" id="fechadesdecomite" onchange="isDat(this.value,'fechadesdecomite');Fechas(this.value,$('#fechahastacomite').val().toString(),'fechadesdecomite','fechahastacomite')"/>
                            </div>
                              <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechadesde')" onmouseout ="javascript:ocultarAyuda('fechadesde')">a</a></b>
                        
                        <span class="popuptext" id="fechadesde">Ingrese la Fecha de inicio del Comite. Haga un clic en la caja vacía.!</span>
                    </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hasta:</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control fecha_format"  placeholder="DD/MM/YYYY" required="true" th:field="*{fechahastacomite}" id="fechahastacomite" onchange="isDat(this.value,'fechahastacomite');Fechas($('#fechadesdecomite').val().toString(),this.value,'fechadesdecomite','fechahastacomite')"/>
                            </div>
                               <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('fechahasta')" onmouseout ="javascript:ocultarAyuda('fechahasta')">a</a></b>
                        
                        <span class="popuptext" id="fechahasta">Ingrese la Fecha de finalizacion del comite. Haga un clic en la caja vacía.!</span>
                    </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row" align="center">
                                 <a href="#" th:href="@{/comites/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                                <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-12">
        <th:block th:include="../templates/footer"></th:block>
    </div>  

   

    <script th:inline="javascript">
        $(document).ready(function () {
        if ([[${msg}]] === 0){
        swal({
        title: "Exito!",
                text: "Registro agregado correctamente",
                type: "success",
                icon: "success"
        }).then(function() {
        location.href = '../comites/';
        });
        }

        if ([[${msg}]] === 1){
        swal({
        title: "ERROR!",
                text: "Ocurrio un error en el proceso",
                type: "error",
                icon: "error"
        });
        }
        });
        
        $(document).ready(function () {
        $('#fechadesdecomite').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#fechahastacomite').datepicker({
            dateFormat: 'dd/mm/yy'
        });
       
    });
    </script> 
<script>
    Textheader('pnt_inac',document.title);
                function Fechas(val1,val2,val3,val4){
                        var foo=ValidarFecha(val1,val2,val3,val4).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
                    
                    function isDat(val,id){
                        var foo=ExisteFecha(val,id).split(",");;
                        if(foo[0]!=foo[2]){
                            swal(foo[1], foo[0]);
                        }
                    }
    $(document).ready(function () {
        $('#fechadesdecomite').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#fechahastacomite').datepicker({
            dateFormat: 'dd/mm/yy'
        });
       
    });
</script>


</body>	
</html>