<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Detalle del Comité </title>
    <th:block th:include="../templates/header"></th:block>



</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-8">
            <!--<h3 align="center">Detalle  del Comite</h3>-->
            <div class="row text-center" >
                <br>
                        <img src="../../static/image/roles.png" width="75" th:src="@{/image/roles.png}"/>
            </div>
            <div>
                <br>
                <form class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Código de comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.codigocomite}">Codigo de comite</p></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Nombre del comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.nombrecomite}">Nombre de comite</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Responsable del  comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.codigoempleado.nombreempleado}+', '+${comite.codigoempleado.nombreempleado}">Responsable</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Descripción del comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.desripcioncomite}">Desripción de Comite</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Número de Acuerdo del comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.numeroacuerdocomite}">Numero de Acuerdo</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Miembros máximos del comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${comite.miembromaximo}">Miembros Maximos</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Fecha inicio del comité:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${#calendars.format(comite.fechadesdecomite, 'dd/MM/yyyy')}">Fecha Desde</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Fecha fin del comité :</label>
                            <div class="col-sm-7">
                                <p class="form-control-static" th:text="${#calendars.format(comite.fechahastacomite, 'dd/MM/yyyy')}">Fecha Hasta </p>
                            </div>
                        </div>
 
                        
                    </div> 


                </form> 
                <div class="col-md-12">
                    <div class="row" align="center">
                    <a href="#" th:href="@{/comites/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>

</body>
<script>
    Textheader('pnt_crco',document.title);
</script>
</html>