<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    <title>Crear Asistencia Capacitación</title>
    <th:block th:include="../templates/header"></th:block>
   
</head>
<body>
<!--     <div ><label  >pnt_asca</label> </div>
       <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div><br>-->
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div> 
        <div class="col-md-8">
             <br>
          <div class="row text-center">
                        <img src="../../static/image/asistencia.png" width="75" th:src="@{/image/asistencia.png}"/>
            <!--<h3 align="center">Crear Asistencias de Capacitación</h3>-->
            <div class="row text-center">
                <br>
                <form class="form-horizontal" id="formascap" th:object="${formasistenciacapacitancion}" th:action="@{../asistenciacapacitacion}" method="post">
                    
                     <!--<input type="hidden" name="codigocuadrodirectivo"/>-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Capacitación a Asignar(*):</label>
                        <div class="col-sm-6" >
                           
                            <select class="form-control" name="codigocapacitacion.codigocapacitacion" >
                                 <option value="-1">-- Seleccione una Capacitación --</option>
                                <option th:each="c:${formasistenciacapacitancion.capacitaciones}" th:value="${c.codigocapacitacion}" th:text="${c.nombrecapacitacion}"></option>
                            </select>
                            <!--<input type="text" class="form-control" onkeypress="return valida(event)" th:field="*{codigoempleado.codigoempleado}"/>-->
                        </div>
                        <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('capacitacion')" onmouseout ="javascript:ocultarAyuda('capacitacion')">a</a></b>
                        
                        <span class="popuptext" id="capacitacion">Seleccione la Capacitacion de la Lista.!</span>
                    </div>
                    </div>

 

                                 <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre del Empleado(*):</label>
                        <div class="col-sm-6">
                            <!--<select class="form-control" id="combo" th:field="*{asistenciaCapacitacion.codigoempleado.codigoempleado}" >-->
                            <select class="form-control" id="combo"  >
                            <option value="0">-- Seleccione un empleado --</option>
                            <option th:each="d:${formasistenciacapacitancion.empleados}" th:value="${d.codigoempleado}" th:text="${d.nombreempleado}+', '+${d.apellidoempleado}"></option>
                            </select>
                            <!--<input type="text" class="form-control" th:field="*{formasistenciacapacitancion.codigoempleado.codigoempleado}"/>-->
                            <!--<input type="text" class="form-control" th:field="*{formasistenciacapacitancion.codigoempleado.codigoempleado}"/>-->
                        </div>
                          <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('codempledo')" onmouseout ="javascript:ocultarAyuda('codempledo')">a</a></b>
                        
                        <span class="popuptext" id="codempledo">Seleccione El empleado de la lista de la Lista.!</span>
                    </div>
                                        </div>
                     <div class="form-group">
                        <label class="col-sm-4 control-label ">Horas Recibidas de Capacitación:(*)</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control numeros" required="true" maxlength="3" name="horasrecibidas"/>
                        </div>
                             <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('horas')" onmouseout ="javascript:ocultarAyuda('horas')">a</a></b>
                        
                        <span class="popuptext" id="horas">Ingrese las horas, solo la combinacion de digitos del 0 al 9.!</span>
                    </div>
                    </div>
                   


                   
                    <div class="form-group">
                        <label class="col-sm-4 control-label ">Puesto del Empleado(*):</label>
                        <div class="col-sm-6">
                            <input type="text" id="puesto" class="form-control" maxlength="50"required="true"name="puesto" />
                        </div>
                             <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('puestos')" onmouseout ="javascript:ocultarAyuda('puestos')">a</a></b>
                        
                        <span class="popuptext" id="puestos">Ingrese el puesto, solo se aceptan 50 caracteres.!</span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ">Ubicación Física de Capacitación(*):</label>
                        <div class="col-sm-6">
                            <input type="text" id="ubicacion" class="form-control " size="50" maxlength="50"required="true" name="ubicacionasistenciacapacitacion" />
                        </div>
                             <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('ubicacionn')" onmouseout ="javascript:ocultarAyuda('ubicacionn')">a</a></b>
                        
                        <span class="popuptext" id="ubicacionn">Seleccione El empleado de la lista de la Lista.!</span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ">Telefono del Empleado(*):</label>
                        <div class="col-sm-2">
                            <input type="text" id="telefonoo"class="form-control num_telefono" required="true" name="telefono"/>
                        </div>
                             <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('telefono')" onmouseout ="javascript:ocultarAyuda('telefono')">a</a></b>
                        
                        <span class="popuptext" id="telefono">Ingrese el Numero de telefono. solo se Permiten digitos del 0 al 9.!</span>
                    </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">Correo del Empleado(*):</label>
                        <div class="col-sm-6">
                            <input type="email" id="correoo"class="form-control" size="50" maxlength="50" required="true" name="email"/>
                        </div>
                             <div class="popup col-sm-1"><b>
                            <a id="" class="btnayuda btn btn-info" href="#" onmouseover="javascript:mostrarAyuda('correo')" onmouseout ="javascript:ocultarAyuda('correo')">a</a></b>
                        
                        <span class="popuptext" id="correo">Ingrese el correo. Solo se aceptan 20 caracteres, es Obligatorio la @.!</span>
                    </div>
                    </div>

                   

                    <div class="col-md-12">
                        <div class="row" align="center">
                            <a href="#" th:href="@{/asistenciacapacitaciones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>
                            <button type="submit" onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                            <button type="reset" class="btn btn-secondary"><span class="glyphicon glyphicon-erase"></span>Limpiar</button>
                        
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            Textheader('pnt_asca',document.title);
            $('#fechadesdecomite').datepicker({
                dateFormat: 'yy-mm-dd'
            });

            $('#fechahastacomite').datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $('#combo').change(function(){
                 $.ajax({
                    url : '../llenadocombo/' + $( this ).val().toString(),
                    success : function(data) {
                        $('#correoo').val(data[3]);
                           $('#telefonoo').val(data[2]);
                        $('#ubicacion').val(data[1]);
                        $('#puesto').val(data[0]);
                    },
                    error: function() {
                        ('#correoo').val("");
                        $('#telefonoo').val("");
                        $('#ubicacion').val("");
                        $('#puesto').val("");
                    }
        });
        });
        });
    </script>
   <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
</body>	
</html>