<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Asignar capacitaciones a empleados</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<div class="row">
 <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
         <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="200" th:src="@{/image/images.jpeg}"/>
                    </div>
        <h3 align="center">Capacitaciones Asignadas</h3>
    <div th:if="${not #lists.isEmpty(empleadocapacitaciones)}">
        <div class="table-responsive">
  <table class="table">
            <tr>
                <th>Nombre empleado</th>
                <th>Nombre de Capacitación</th>
            </tr>
            <tr th:each="empleadocapacitacion : ${empleadocapacitaciones}">
                <td th:text="${empleadocapacitacion.empleado.nombreempleado}+', '+${empleadocapacitacion.empleado.apellidoempleado}">Codigo</td>
                <td th:text="${empleadocapacitacion.capacitacion.nombrecapacitacion}">Código</td>
            </tr>
        </table>
    </div>
</div>
    </div>
</body

</html>
