<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Asignar empleados a capacitaciones </title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
   
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
            <br><br>
            <div class="row text-center">
                <img src="../../static/image/agregarusuario.png" width="75" th:src="@{/image/agregarusuario.png}"/>
            </div>
            <!--<h3 align="center">Asignar empleados </h3>-->
            <div>
                <form class="form-horizontal" th:object="${formempleadocapacitacion}" th:action="@{../empleadocapacitacion}" method="post" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre empleado:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="empleado.codigoempleado" >
                                <option th:each="c:${formempleadocapacitacion.empleados}" th:value="${c.codigoempleado}" th:text="${c.nombreempleado}+', '+${c.apellidoempleado}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre capacitación:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="capacitacion.codigocapacitacion" >
                                <option th:each="c:${formempleadocapacitacion.capacitaciones}" th:value="${c.codigocapacitacion}" th:text="${c.nombrecapacitacion}"></option>
                        </select>
                        </div>
                    </div>
                     <div class="col-md-12">
                        <div class="row" align="center">
                             <a href="#" th:href="@{/empleadocapacitaciones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>  
                               <!--<a href="#" th:href="@{/empleadocapacitaciones/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>-->  
                            <button type="submit" onclick="fecha_format();"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Asignar</button>
                               <!--<button type="submit" class="btn btn-default">Agregar</button>-->
                            <button type="reset" class="btn btn-default">Limpiar</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </body>
    <div class="col-md-12">
            <th:block th:include="../templates/footer"></th:block>
        </div>
<script>
    Textheader('pnt_ccap', document.title);
    $(document).ready(function () {
    $('#fechaingreso').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechacaducidad').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechabaja').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    });</script>
 </body>
<script th:inline="javascript">
    $(document).ready(function () {
    if ([[${msg}]] === 0){
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../empleadocapacitaciones/';
    swal({
                text: "Redirigiendo a consulta de empleados",
                icon: "success"
                })
    });
    }
     if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }
    });
</script> 
 </html>